<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link th:href="@{/css/cyfw.css}" rel="stylesheet" type="text/css">
	<link  th:href="@{/css/gxsg.css}" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
	   <li><a href="#">行业采购</a></li>
       <li class="active">企业信息</li>
     </ul>
   </div>
   <!--面包屑结束-->
   <div class="row">
     
     <!--右侧内容开始-->
     <div class="col-md-11">
       <div class="mt-comments mt-comments10">
                  	<div th:each="enterprise,iterStat:${page.content}" >
	                     <div class="media" >
	                       <a th:href="@{'/hyproduct/enterpriseview.html?enterpriseId='+${enterprise.enterpriseId}}" target="_blank" class="pull-left">
	                       	<img th:src="@{'/file/downloadByBusi.do?bussinessId='+${enterprise.enterprisePicId}}" class="media-object" style="width:174px; height:127px">
	                       </a>
	                       <div class="media-body gb-sgnews">
	                         <h4 class="media-heading"><a th:href="@{'/hyproduct/enterpriseview.html?enterpriseId='+${enterprise.enterpriseId}}"  target="_blank"  th:text="${enterprise.enterpriseName}"></a></h4>
	                         <p class="sg-text"><a href="#" th:text="${enterprise.business}"> </a></p>
	                         <ul class="list-unstyled">
	                           <li class="pull-left"  th:text="${enterprise.addree}"></li>
	                     	</ul>
	                       </div>
	                   </div>
	                   <div class="gb-line gxsg-line" th:if="not ${iterStat.last}"></div>
                   </div>
                   
                   <!--分页开始-->  
                    <div class="row">
                     <div class="col-md-12 text-center">
					   <div th:include="pagination"/> 
                     </div>
                   </div> 
                   <!--分页结束-->
          </div>
     
	</div>
     <!--右侧内容结束-->
     
     
   </div>
 </div>
 
  <!--footer开始-->
	<div th:include="footer"></div>
 <!--footer结束-->
 <script type="text/javascript">
	$(function(){
		$('#hyproduct').removeClass("manulinknone");
		$('#hyproduct').addClass("manulink");
		
		
		
		$('.page-link').click(function(){
			  if(!$(this).parent().hasClass("disabled")){
				  var pageNum=$(this).attr("pageIndex");
				  $(window).attr('location', '/hyproduct/enterpriselist.html?pageNum='+pageNum);
			  }
		});
		
		
	})
 </script>
 <!--footer结束-->
</body>
</html>
