<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head">
</head>
<head>
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/caigou.css" rel="stylesheet" type="text/css">
</head>


<body>
	<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
	<!--菜单开始-->
	<header th:include="header" />
	<!--菜单结束-->
  <div class="gb-main"> 
 
  <div class=" container">
	  <div class="row">
		  <div class="col-md-3" style="padding-right: 0px;">
			  <div class="cg-spfl text-center">商品分类</div>
			  <div class="cg-mune">
				  <div>
					  <p class="cg-flbt">商品分类1</p>
					  <ul class="list-unstyled list-inline cg-fllist">
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
				          <li><a href="#" class="cghui-link">产品分类</a></li>
					  </ul>
				  </div>
				  <div class="line-wb"></div>
				   <div>
					  <p class="cg-flbt">商品分类1</p>
					  <ul class="list-unstyled list-inline cg-fllist">
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>

	
					  </ul>
				  </div>
				  <div class="line-wb"></div>
				   <div>
					  <p class="cg-flbt">商品分类1</p>
					  <ul class="list-unstyled list-inline cg-fllist">
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>

	
					  </ul>
				  </div>
				  <div class="line-wb"></div>
				   <div>
					  <p class="cg-flbt">商品分类1</p>
					  <ul class="list-unstyled list-inline cg-fllist">
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>
						  <li><a href="#" class="cghui-link">产品分类</a></li>

	
					  </ul>
				  </div>
			  </div>
		  </div>
	  
		  <div class="col-md-9" style="padding-left: 0px;">
			  <div class="cg-flmenu">
				  <ul class="list-inline list-unstyled">
					  <li><a href="#">商品分类1</a></li>
					  <li><a href="#">商品分类2</a></li>
					  <li><a href="#">商品分类3</a></li>
					  <li><a href="#">商品分类4</a></li>
				  </ul>
			  </div>
		   <!--轮播开始-->
			  <div id="myCarousel" class="carousel slide" style="height: 323px;">
				<ol class="carousel-indicators" style="margin-bottom:-5px">
				  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner carpic">
				   <div class="item active"><img src="/images/cg-pic1.jpg" alt="图片1"></div>
				   <div class="item"><img src="/images/cg-pic2.jpg" alt="图片2"></div>
				</div>
			  </div>
			<!--轮播结束-->
		 </div>
	  </div>
	  <div class="heizw"></div>
	      <!--招标采购开始-->
     <div class="row">
      <!-- 招标信息开始-->
     <div class="col-md-6">
        <div class="maintop">
          <ul class="list-inline">
           <li class="pull-left menubt text-center"><h5>招标信息</h5></li>
           <li class="pull-right morebt"><a href="#">more</a></li>
          </ul>
        </div>
        <div class="box-bgcl">
          <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会地下管线协</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>

          
        </div>
      </div>
      <!--招标信息结束-->
     <!-- 采购信息开始-->
      <div class="col-md-6">
        <div class="maintop">
          <ul class="list-inline">
           <li class="pull-left menubt text-center"><h5>采购信息</h5></li>
           <li class="pull-right morebt"><a href="#">more</a></li>
          </ul>
        </div>
        <div class="box-bgcl">
          <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会地下管线协</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>
          <div class="gb-line clearfix"></div>
           <ul class="gb-news">
            <li class="xwlist pull-left gb-zhaopin1"><a href="#">生物识别技术加持 智能门锁将迎新时代</a></li>
            <li class="pull-left list-unstyled gb-zhaopin2"><a href="#">地下管线协会</a></li>
            <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
          </ul>

          
        </div>
      </div>
      <!--采购信息结束-->

    </div>
    <!--招标采购结束-->
	   <div class="heizw"></div>
	  	   <!--推荐产品开始-->
    <div class="maintop">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>知名商家</h5></li>
          <li class="pull-right morebt"><a href="#">more</a></li>
       </ul>
    </div>
    <div class="box-bgcl">
		<div class="row text-center cg_list">
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/logo160.jpg" width="130" height="130"></div>
				  <div class="cg-bt text-left"><span class=" shenhui"><strong>采购品类：</strong></span><span class="gray">电工电气类、电子产品</span></div>
				  <div class="cg-bt shenhui text-left"><strong>采购额度：</strong><span class="gray">1000亿/年</span></div>

				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/logo160.jpg" width="130" height="130"></div>
				  <div class="cg-bt text-left"><span class=" shenhui"><strong>采购品类：</strong></span><span class="gray">电工电气类、电子产品</span></div>
				  <div class="cg-bt shenhui text-left"><strong>采购额度：</strong><span class="gray">1000亿/年</span></div>

				</div>
			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
					<div class="img-shadow-1 caigou-box">
				  <div><img src="images/logo160.jpg" width="130" height="130"></div>
				  <div class="cg-bt text-left"><span class=" shenhui"><strong>采购品类：</strong></span><span class="gray">电工电气类、电子产品</span></div>
				  <div class="cg-bt shenhui text-left"><strong>采购额度：</strong><span class="gray">1000亿/年</span></div>

				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
					<div class="img-shadow-1 caigou-box">
				  <div><img src="images/logo160.jpg" width="130" height="130"></div>
				  <div class="cg-bt text-left"><span class=" shenhui"><strong>采购品类：</strong></span><span class="gray">电工电气类、电子产品</span></div>
				  <div class="cg-bt shenhui text-left"><strong>采购额度：</strong><span class="gray">1000亿/年</span></div>

				</div>
			  </a>
			</div>
		  </div> 

    </div>
    <!--推荐产品结束-->
	   <div class="heizw"></div>
	   <!--推荐产品开始-->
    <div class="maintop">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>推荐产品</h5></li>
          <li class="pull-right morebt"><a href="#">more</a></li>
       </ul>
    </div>
    <div class="box-bgcl">
		<div class="row text-center cg_list">
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台控制台监控台监控</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>
			  </a>
			</div>
		  </div> 
				<div class="row text-center cg_list">
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>

			  </a>
			</div>
			<div class="col-md-3">
			  <a href="#">
				<div class="img-shadow-1 caigou-box">
				  <div><img src="images/cp.png" width="230" height="230"></div>
				  <div class="cg-bt text-left"><span>控制台监控台监控台控制台监控台监控</span></div>
				  <div>
				   <h4 class="gray text-left cg-rmb">¥210.00</h4>
				  </div>
				</div>
			  </a>
			</div>
		  </div> 

    </div>
    <!--推荐产品结束-->
 
  

  
	  <div class="clearfix"></div>
    
  
  </div>
  </div>
	 <!--footer开始-->
	 <div th:include="footer"></div>
  	<!--footer结束-->
  	<script type="text/javascript" th:inline="javascript">
	$(function(){
		$('#hyproduct').removeClass("manulinknone");
		$('#hyproduct').addClass("manulink");
		$('#myCarousel').carousel({
		    interval: 3000
		})
		
	})
</script>
</body>
</html>
