<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head">
</head>
<head>
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/caigou.css" rel="stylesheet" type="text/css">
</head>


<body>
	<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
	<!--菜单开始-->
	<header th:include="header" />
	<!--菜单结束-->
  <div class="gb-main"> 
 
	  <div class=" container">
         <!--搜索框开始-->
		 <div class="cg-ssbox">
             <ul class="cg-ss-line list-inline">
				<li th:each="dict,iterStat:${dictList}">
					<a href="#" class="blue-link" th:href="@{'/hyproduct/productlist.html?productTypeCodeOne='+${dict.dictValue}}" th:text="${dict.dictName}" th:if="${dict.dictValue!=productTypeCodeOne}">探测类</a>
					<a href="#" class="cp-xxlink-on" th:href="@{'/hyproduct/productlist.html?productTypeCodeOne='+${dict.dictValue}}" th:text="${dict.dictName}" th:if="${dict.dictValue==productTypeCodeOne}">探测类</a>
				</li>
			 </ul>
			 <div class="gb-line"></div>
			 <ul class="cg-ss-line cg-ss-line-two list-inline">
				<li th:each="child,iterStat:${childList}">
					<a th:href="@{'/hyproduct/productlist.html?productTypeCodeTwo='+${child.dictValue}}" class="blue-link" th:text="${child.dictName}" th:if="${child.dictValue!=productTypeCodeTwo}">探测类</a>
				    <a th:href="@{'/hyproduct/productlist.html?productTypeCodeTwo='+${child.dictValue}}" class="cp-xxlink-on" th:text="${child.dictName}" th:if="${child.dictValue==productTypeCodeTwo}">探测类</a>
				</li>
			</ul>
		 </div>
		 <!--搜索框结束-->
		 <!--商品列表开始-->
		  
		  <div class="cp-zsbox">
			 <div class="box-bgcl box-bgcl-cp">
			   <div class="row text-center cg_list">
					
					<div class="col-md-3" th:each="product,iterStat:${productList}">
					 <a th:href="@{'/hyproduct/productview.html?productId='+${product.productId}}"  >
						<div class="img-shadow-1 caigou-box">
						  <div><img th:src="@{'/'+${product.productPicPath}}"  width="230" height="230"></div>
						  <div class="cg-bt text-left"><span th:text="${product.productName}">控制台监控台监控台</span></div>
						  <div>
						   <div class="gray text-left" th:text="${product.empName}">¥210.00</div>
						  </div>
						</div>

					  </a>
					</div>
				
			  </div>
			  
			 </div>
		  </div>
		 <!--商品列表结束-->
		  	 <!--分页开始-->  
                    <div class="row">
                     <div class="col-md-12 text-center">
					   <div th:include="pagination"/> 
                     </div>
                   </div> 
                   <!--分页结束-->
	
 
  

  

    
  
      </div>
  </div>
  <!--footer开始-->
	 <div th:include="footer"></div>
  	<!--footer结束-->
  	
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			$('#hyproduct').removeClass("manulinknone");
			$('#hyproduct').addClass("manulink");
			$('.page-link').click(function(){
				  if(!$(this).parent().hasClass("disabled")){
					  var pageNum=$(this).attr("pageIndex");
					  $(window).attr('location', '/hyproduct/productlist.html?pageNum='+pageNum);
				  }
			});
			
		})
	</script>
</body>
</html>
