<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link href="/css/gxsg.css" rel="stylesheet" type="text/css">
</head>
<head>
 <link href="css/gxsg.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
       <li class="active">详情</li>
     </ul>
   </div>
   <!--面包屑结束-->
   <div class="row">
     <!--左侧内容开始-->
     <div class="col-md-8">

	   <div class="row">
		   <div class="col-md-12 text-center"><h3 th:text="${content.contentTitle}"></h3></div>
	    </div> 
		 <div class="row new-bt">
		   <div class="col-md-3 text-left gray">发布时间：<time th:text="${#strings.substring(content.contentJsonMap['pdate'],0,10)}">2018-01-02</time></div>
		   <div class="col-md-4 text-left gray">新闻来源：<span th:text="${content.contentJsonMap['source']}">新浪</span></div>
		  
	   </div>
		
		 <div class="box-bgcl spxq-box"  th:utext="${content.content}">
			 
		 </div>
		 
	
     </div>
     <!--左侧内容结束-->
     <div class="col-md-1"></div>
      <!--右侧边栏开始-->
     	<div th:include="accident/right" />
     <!--右侧边栏结束-->
   </div>
 </div>
 
  	<!--footer开始-->
	 <div th:include="footer"></div>
  	<!--footer结束-->
  	  	<script type="text/javascript" th:inline="javascript">
	$(function(){
		$('#accident').removeClass("manulinknone");
		$('#accident').addClass("manulink");
		
	})
</script>

</body>
</html>
