@charset "UTF-8";
/* CSS Document */
.left-manu{
	width:207px;
	height:39px;
	display:block;
	font-size:14px;
	line-height:39px;
}
.cyfw-manu1-on:link,
.cyfw-manu1-on:visited{
 background: url( ../images/zsrz2.jpg);
	color: #fff;
}
.cyfw-manu1-on:hover,
.cyfw-manu1-on:active{
 background: url( ../images/zsrz2.jpg);
	color: #fff;
}
.cyfw-manu1-none:link,
.cyfw-manu1-none:visited{
 background: url( ../images/zsrz1.jpg);
	color: #0f57a1;
}
.cyfw-manu1-none:hover,
.cyfw-manu1-none:active{
 background: url( ../images/zsrz2.jpg);
	color: #fff;
}
.cyfw-manu2-on:link,
.cyfw-manu2-on:visited{
 background: url( ../images/zscx2.jpg);
	color: #fff;
}
.cyfw-manu2-on:hover,
.cyfw-manu2-on:active{
 background: url( ../images/zscx2.jpg);
	color: #fff;
}
.cyfw-manu2-none:link,
.cyfw-manu2-none:visited{
 background: url( ../images/zscx1.jpg);
	color: #0f57a1;
}
.cyfw-manu2-none:hover,
.cyfw-manu2-none:active{
 background: url( ../images/zscx2.jpg);
	color: #fff;
}
.cyfw-manu3-on:link,
.cyfw-manu3-on:visited{
 background: url( ../images/hyzl2.jpg);
	color: #fff;
}
.cyfw-manu3-on:hover,
.cyfw-manu3-on:active{
 background: url( ../images/hyzl2.jpg);
	color: #fff;
}
.cyfw-manu3-none:link,
.cyfw-manu3-none:visited{
 background: url( ../images/hyzl1.jpg);
	color: #0f57a1;
}
.cyfw-manu3-none:hover,
.cyfw-manu3-none:active{
 background: url( ../images/hyzl2.jpg);
	color: #fff;
}
.cyfw-manu4-on:link,
.cyfw-manu4-on:visited{
 background: url( ../images/jstg2.jpg);
	color: #fff;
}
.cyfw-manu4-on:hover,
.cyfw-manu4-on:active{
 background: url( ../images/jstg2.jpg);
	color: #fff;
}
.cyfw-manu4-none:link,
.cyfw-manu4-none:visited{
 background: url( ../images/jstg1.jpg);
	color: #0f57a1;
}
.cyfw-manu4-none:hover,
.cyfw-manu4-none:active{
 background: url( ../images/jstg2.jpg);
	color: #fff;
}
.cyfw-manu5-on:link,
.cyfw-manu5-on:visited{
 background: url( ../images/jrfw2.jpg);
	color: #fff;
}
.cyfw-manu5-on:hover,
.cyfw-manu5-on:active{
 background: url( ../images/jrfw2.jpg);
	color: #fff;
}
.cyfw-manu5-none:link,
.cyfw-manu5-none:visited{
 background: url( ../images/jrfw1.jpg);
	color: #0f57a1;
}
.cyfw-manu5-none:hover,
.cyfw-manu5-none:active{
 background: url( ../images/jrfw2.jpg);
	color: #fff;
}

.zscx-text{
	height: 34px;
	line-height: 34px;
	font-size: 14px;
}
.zcsx-list{
	padding-bottom: 20px;
}
.col-md-9 .col-md-9 .btn-success
{ margin-top: 30px;
}
.tg-list{
	margin: 40px 0;
}
/*118服务样式开始*/
.fw-manu1-on:link,
.fw-manu1-on:visited{
 background: url( ../images/zgx2.jpg);
	color: #fff;
}
.fw-manu1-on:hover,
.fw-manu1-on:active{
 background: url( ../images/zgx2.jpg);
	color: #fff;
}
.fw-manu1-none:link,
.fw-manu1-none:visited{
 background: url( ../images/zgx1.jpg);
	color: #0f57a1;
}
.fw-manu1-none:hover,
.fw-manu1-none:active{
 background: url( ../images/zgx2.jpg);
	color: #fff;
}
.fw-manu2-on:link,
.fw-manu2-on:visited{
 background: url( ../images/sgsq2.jpg);
	color: #fff;
}
.fw-manu2-on:hover,
.fw-manu2-on:active{
 background: url( ../images/sgsq2.jpg);
	color: #fff;
}
.fw-manu2-none:link,
.fw-manu2-none:visited{
 background: url( ../images/sgsq1.jpg);
	color: #0f57a1;
}
.fw-manu2-none:hover,
.fw-manu2-none:active{
 background: url( ../images/sgsq2.jpg);
	color: #fff;
}
.fw-manu3-on:link,
.fw-manu3-on:visited{
 background: url( ../images/zscx2.jpg);
	color: #fff;
}
.fw-manu3-on:hover,
.fw-manu3-on:active{
 background: url( ../images/zscx2.jpg);
	color: #fff;
}
.fw-manu3-none:link,
.fw-manu3-none:visited{
 background: url( ../images/zscx1.jpg);
	color: #0f57a1;
}
.fw-manu3-none:hover,
.fw-manu3-none:active{
 background: url( ../images/zscx2.jpg);
	color: #fff;
}
.fw-manu4-on:link,
.fw-manu4-on:visited{
 background: url( ../images/gy1182.jpg);
	color: #fff;
}
.fw-manu4-on:hover,
.fw-manu4-on:active{
 background: url( ../images/gy1182.jpg);
	color: #fff;
}
.fw-manu4-none:link,
.fw-manu4-none:visited{
 background: url( ../images/gy1181.jpg);
	color: #0f57a1;
}
.fw-manu4-none:hover,
.fw-manu4-none:active{
 background: url( ../images/gy1182.jpg);
	color: #fff;
}
.fw-text-gb{
 padding-top: 15px;
}
.red-link{
	font-size: 16px;
	color:#d9342f;
}
.red-link:link,
.red-link:visited{
	color:#d9342f;
	font-weight: normal;
}
.red-link:hover,
.red-link:active{
	color:#d9342f;
	font-weight: bold;
	text-decoration: underline;
}
/*submint新增样式开始*/
.btn-width{
	width:100%; 
}
.sq-xx-list{
	background:#F8F8F8;
	padding: 30px;
	line-height: 2.4em;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	margin-top: 30px;
	font-size: 14px;
}
.kwsq-list{
	background:#F8F8F8;
	padding: 20px 0;
	margin-bottom: 15px;
}
.kwsq-list .row{
   margin-bottom: 10px;
}
.gb-sq-input{
	padding-top: 6px;
}
/*产业服务新增菜单开始*/
.cyfw-manu6-on:link,
.cyfw-manu6-on:visited{
 background: url( ../images/zbxx2.jpg);
	color: #fff;
}
.cyfw-manu6-on:hover,
.cyfw-manu6-on:active{
 background: url( ../images/zbxx2.jpg);
	color: #fff;
}
.cyfw-manu6-none:link,
.cyfw-manu6-none:visited{
 background: url( ../images/zbxx1.jpg);
	color: #0f57a1;
}
.cyfw-manu6-none:hover,
.cyfw-manu6-none:active{
 background: url( ../images/zbxx2.jpg);
	color: #fff;
}
.cyfw-manu7-on:link,
.cyfw-manu7-on:visited{
 background: url( ../images/cpxx2.jpg);
	color: #fff;
}
.cyfw-manu7-on:hover,
.cyfw-manu7-on:active{
 background: url( ../images/cpxx2.jpg);
	color: #fff;
}
.cyfw-manu7-none:link,
.cyfw-manu7-none:visited{
 background: url( ../images/cpxx1.jpg);
	color: #0f57a1;
}
.cyfw-manu7-none:hover,
.cyfw-manu7-none:active{
 background: url( ../images/cpxx2.jpg);
	color: #fff;
}
.cyfw-manu8-on:link,
.cyfw-manu8-on:visited{
 background: url( ../images/sjxx2.jpg);
	color: #fff;
}
.cyfw-manu8-on:hover,
.cyfw-manu8-on:active{
 background: url( ../images/sjxx2.jpg);
	color: #fff;
}
.cyfw-manu8-none:link,
.cyfw-manu8-none:visited{
 background: url( ../images/sjxx1.jpg);
	color: #0f57a1;
}
.cyfw-manu8-none:hover,
.cyfw-manu8-none:active{
 background: url( ../images/sjxx2.jpg);
	color: #fff;
}
.cyfw-manu9-on:link,
.cyfw-manu9-on:visited{
 background: url( ../images/ryzscx2.jpg);
	color: #ffff;
}
.cyfw-manu9-on:hover,
.cyfw-manu9-on:active{
 background: url( ../images/ryzscx2.jpg);
	color: #fff;
}
.cyfw-manu9-none:link,
.cyfw-manu9-none:visited{
 background: url( ../images/ryzscx1.jpg);
	color: #0f57a1;
}
.cyfw-manu9-none:hover,
.cyfw-manu9-none:active{
 background: url( ../images/ryzscx2.jpg);
	color: #fff;
}
/*产业服务新增菜单结束*/
/*新增报名样式开始*/
.baoming-box{
	 background: url(../images/bm-bg.jpg) no-repeat bottom center;
	margin-bottom: -100px;
	padding-bottom: 180px;
}
.yqlj-text{
	width: 90%;
}
/*新增报名样式结束*/
/*新增产业产品样式*/
.cyfw-logo{
	display: block;
	width: 102px;
	margin: 0 auto;
}
.baoming-cg{
	background: url(../images/baomingcg1.jpg) no-repeat center bottom;
	padding: 40px 0 300px ;
	color: #cd3629;
}
.zhengshu-box{
	width: 1129px;
	height: 774px;
	background: url(../images/zhengshu.jpg) no-repeat;
}
.zs-pic{
 padding-top: 300px;
}
.zs-pic img{
	margin-left: -30px;
}
.zs-name{
	font-size: 28px;
	padding: 295px 0 0 60px;
}
.zs-binahao{
	font-size: 18px;
	padding: 34px 0 0 230px;
}
.zs-binahao li{
	padding-bottom: 16px;
}
.zs-btn{
	width: 200px;
	margin-top: 40px;
}
.hyibg{
	background: #dadee1;
	padding: 30px 0;
}
.qianhuibg{
	background: #f7f7f7;
    	padding: 30px 0;
}
.gy-text{
	font-size: 16px;
	line-height: 1.8em;
	padding-top: 20px;
}
.paishuizs-box{
    width: 1028px;
	height: 727px;
	background: url(../images/paishuizs.jpg) no-repeat;
	margin: 0 auto;
}
.paishui-name{
	font-size: 28px;
	padding: 298px 0 0 85px;
}
.paishui-pic{
 padding-top: 240px;
}
.paishui-pic img{
	margin-left: 40px;
}
.paishui-binahao{
	font-size: 16px;
	padding: 18px 0 0 230px;
}
.paishui-binahao li{
	padding-bottom: 17px;
}
.tancezs-box{
    width: 1064px;
	height: 754px;
	background: url(../images/tancezs.jpg) no-repeat;
	margin: 0 auto;
}
.tance-name{
	font-size: 26px;
	padding: 312px 0 0 100px;
}
.tance-pic{
 padding-top: 260px;
}
.tance-pic img{
	margin-left: 40px;
}
.tance-binahao{
	font-size: 16px;
	padding: 13px 0 0 245px;
}
.tance-binahao li{
	padding-bottom: 19px;
}
.guandaozs-box{
    width: 1219px;
	height: 861px;
	background: url(../images/guandaoxz.jpg) no-repeat;
	margin: 0 auto;
}
.guandao-name{
	font-size: 26px;
	padding: 362px 0 0 100px;
	
}
.guandaopic{
	padding-top: 330px;
}
.guandao-binahao{
	font-size: 16px;
	padding: 10px 0 0 280px;
}
.guandao-binahao li{
	padding-bottom: 25px;
}
.jcpgzs-box{
	width: 729px;
	height: 1073px;
	background: url(../images/paishuigdpg.jpg);
	margin: 0 auto;
}
.text-jc{
	font-family:"宋体";
	font-size: 24px;
}
.gsmc-jc{
   padding: 335px 0 0 220px;
}
.gsjb-jc{
	padding: 76px 0 0 250px;
}
.jczs-binahao{
	font-size: 18px;
	padding: 105px 0 0 220px;
}
.jczs-binahao li{
	padding-bottom: 36px;
}
.kwxf-box{
	width: 729px;
	height: 1073px;
	margin: 0 auto;
 background: url(../images/feikaiwxf.jpg);
}
.zhucexi{
	margin-bottom: 16px;
}
.zcxz-box{
	padding-top: 40px; 
	padding-bottom: 100px;
}
.moshi-box{
	display: block;
	width: 358px;
	height: 112px;
	hanging-punctuation: 258px;
	border: 1px #dadada solid;
	background: #f5f5f5;
}
.moshi-box .pull-left{
	width: 156px;
	height: 110px;
}
.moshi-box .pull-right{
	width: 200px;
	line-height: 112px;
	text-align: center;
	font-size: 20px;
}
.moshi-box:link,
.moshi-box:visited{
	border: 1px #dadada solid;
	color: #161616;
}
.moshi-box:hover,
.moshi-box:active{
	border: 1px #db3527 solid;
	color: #db3527;
}
.cs-moshi{
	padding: 90px 0 260px 0;
}
.tancexmjl-box{
    width: 1028px;
	height: 727px;
	background: url(../images/tancexmjl.jpg) no-repeat;
	margin: 0 auto;
}
.tcxmjl-name{
	font-size: 22px;
	padding: 306px 0 0 90px;
}
.tcxmjl-bianhao{
	font-size: 14px;
	padding: 28px 0 0 240px;
}
.tcxmjl-bianhao li{
	padding-bottom: 21px;
}
.tancegcjl-box{
	width: 1028px;
	height: 727px;
	background: url(../images/tancejl.jpg) no-repeat;
	margin: 0 auto;
}
.tancegcjl-bianhao{
	font-size: 14px;
	padding: 21px 0 0 240px;
}
.tancegcjl-bianhao li{
	padding-bottom: 20px;
}