@charset "UTF-8";
/* CSS Document */
body {
    padding-top: 1px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
	font-size:14px;
	background-color:#f1f3f2;


}
.login-bg{
	background: url(../images/login-box2.jpg) no-repeat fixed center;
	background-position: top;
	min-height: 700px;
	width: 100%;
}
.login-box{
	
	background: url( ../images/loginbox-1.png) repeat;
	margin-top: 10em;
}
.login-box h3{
	color: #fff;
	text-align: center;
	margin-bottom: -10px;
}
.login-list{
	padding-top: 40px;
}
.blue-link:link,
.blue-link:visited{
	color:#084a87;
}
.blue-link:hover,
.blue-link:active{
	color:#084a87;
	text-decoration: underline;
}
.list-unstyled{
	padding-top: 10px;
	
}

.reg-hidden{
  display:none; 
}

.reg-show{
  display:block; 
}
 
.success-img{
  color: #1875f0;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 138, 255, 1)), to(rgba(2, 101, 194, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 6px 6px rgba(0,113,209,.3);
  margin-right: 40px; 
}