@charset "UTF-8";
/* CSS Document */
body {
    padding-top: 1px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
	font-size:14px;
	background-color:#f1f3f2;


}
.login-bg{
	background: url(../images/login-box2.jpg) no-repeat fixed center;
	background-position: top;
	min-height: 700px;
	width: 100%;
}
.login-box{
	
	background: url( ../images/loginbox-1.png) repeat;
	margin-top: 10em;
}
.login-box h3{
	color: #fff;
	text-align: center;
	margin-bottom: -10px;
}
.login-list{
	padding-top: 40px;
}
.blue-link:link,
.blue-link:visited{
	color:#084a87;
}
.blue-link:hover,
.blue-link:active{
	color:#084a87;
	text-decoration: underline;
}
.list-unstyled{
	padding-top: 10px;
	
}