<!doctype html>
<html>
<head>
<meta charset="utf-8"> 
<title>人员证书</title>
<script type="text/javascript" src="bootstrap/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
<link th:href="@{/css/cyfw.css}" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
 <!--菜单开始-->
 <header th:include="header"/>
 <!--菜单结束-->
 
 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
	   <li><a href="#">产业服务</a></li>
		 <li><a href="#">证书查询</a></li>
       <li class="active">人员证书 </li>
     </ul>
   </div>
   
   <!--面包屑结束-->
   
   <div class="paishuizs-box" th:if="${trainCert.certTypeName=='paishui'}">
	   <div class="row">
		   <div class="col-md-5 text-center paishui-pic"><img src="/images/zhanweiren.jpg" style="height:158px"></div>
		   <div class="col-md-7 paishui-name" th:text="${trainCert.userName }">张三三三</div>
	   </div>
	   <ul class="list-unstyled paishui-binahao">
	       <li th:text="${trainCert.userCode}">123456789</li>
		   <li th:text="${trainCert.certCode}">123456789</li>
		    <li th:text=" ${#dates.format(trainCert.startDate, 'yyyy-MM-dd')}">2015-09-08</li>
		   <li th:text=" ${#dates.format(trainCert.endDate, 'yyyy-MM-dd')}">2022-08-09</li>
	   </ul>
   </div>
   
   <div class="tancezs-box" th:if="${trainCert.certTypeName=='gxtc'}">
	   <div class="row">
		   <div class="col-md-5 text-center tance-pic"><img src="/images/zhanweiren.jpg" style="height:158px"></div>
		   <div class="col-md-7 tance-name" th:text="${trainCert.userName }">张三三三</div>
	   </div>
	   <ul class="list-unstyled tance-binahao">
	      <li th:text="${trainCert.userCode}">123456789</li>
		  <li th:text="${trainCert.certCode}">123456789</li>
		  
		   <li th:text=" ${#dates.format(trainCert.startDate, 'yyyy-MM-dd')}">2015-09-08</li>
		   <li th:text=" ${#dates.format(trainCert.endDate, 'yyyy-MM-dd')}">2022-08-09</li>
	   </ul>
   </div>
   
    
   
    <div class="guandaozs-box" th:if="${trainCert.certTypeName=='YQGW'}">
	   <div class="row">
		   <div class="col-md-5 text-center tance-pic guandaopic"><img src="/images/zhanweiren.jpg" style="height:158px"></div>
		   <div class="col-md-7 guandao-name" th:text="${trainCert.userName }">张三三三</div>
	   </div>
	   <ul class="list-unstyled guandao-binahao">
		   <li th:text="${trainCert.userCode}">210402398709090879</li>
		   <li th:text="${trainCert.certCode}">123456789</li>
		   <li th:text=" ${#dates.format(trainCert.startDate, 'yyyy-MM-dd')}">2018-06-15</li>
		   <li th:text=" ${#dates.format(trainCert.endDate, 'yyyy-MM-dd')}">2021-06-15</li>
	   </ul>
   </div>
   
   <div class="tancexmjl-box" th:if="${trainCert.certTypeName=='TCXM'}">
	   <div class="row">
		   <div class="col-md-5 text-center paishui-pic"><img src="/images/zhanweiren.jpg" style="height:158px"></div>
		   <div class="col-md-7 tcxmjl-name" th:text="${trainCert.userName }">张三三三</div>
	   </div>
	   <ul class="list-unstyled tcxmjl-bianhao">
		   <li th:text="${trainCert.userCode}">210402398709090879</li>
		   <li th:text="${trainCert.certCode}">123456789</li>
		   <li th:text=" ${#dates.format(trainCert.startDate, 'yyyy-MM-dd')}">2015-09-08</li>
		   <li th:text=" ${#dates.format(trainCert.endDate, 'yyyy-MM-dd')}">2022-08-09</li>
	   </ul>
   </div>
   
  <div class="tancegcjl-box" th:if="${trainCert.certTypeName=='TCJL'}">
	   <div class="row">
		   <div class="col-md-5 text-center paishui-pic"><img src="/images/zhanweiren.jpg" style="height:158px"></div>
		   <div class="col-md-7 tcxmjl-name" th:text="${trainCert.userName }">张三三三</div>
	   </div>
	   <ul class="list-unstyled tancegcjl-bianhao">
		  <li th:text="${trainCert.userCode}">210402398709090879</li>
		   <li th:text="${trainCert.certCode}">123456789</li>
		   <li th:text=" ${#dates.format(trainCert.startDate, 'yyyy-MM-dd')}">2015-09-08</li>
		   <li th:text=" ${#dates.format(trainCert.endDate, 'yyyy-MM-dd')}">2022-08-09</li>
	   </ul>
   </div>
   
    <div class="paishuizs-box" th:if="${trainCert.certTypeName=='PSFKW'}">
	   <div class="row">
		   <div class="col-md-5 text-center paishui-pic"><img src="/images/zhanweiren.jpg" style="height:158px"></div>
		   <div class="col-md-7 paishui-name" th:text="${trainCert.userName }">张三三三</div>
	   </div>
	   <ul class="list-unstyled paishui-binahao">
		   <li th:text="${trainCert.userCode}">210402398709090879</li>
		   <li th:text="${trainCert.certCode}">123456789</li>
		   <li th:text=" ${#dates.format(trainCert.startDate, 'yyyy-MM-dd')}">2015-09-08</li>
		   <li th:text=" ${#dates.format(trainCert.endDate, 'yyyy-MM-dd')}">2022-08-09</li>
	   </ul>
   </div>
   
 </div>
<div class="text-center"><a href="/service/cardSearch.html" class="btn btn-success zs-btn">返　　回</a></div>
 
  <!--footer开始-->
	<div th:include="footer"></div>
	 <!--footer结束-->
	 <script type="text/javascript">
		$(function(){
			$('#service').removeClass("manulinknone");
			$('#service').addClass("manulink");
			$('#l_search').removeClass("cyfw-manu2-none");
			$('#l_search').addClass("cyfw-manu2-on");
		})
	 </script>
 <!--footer结束-->
</body>
</html>
