<!doctype html>
<html>
<head>
<meta charset="utf-8"> 
<title>企业证书</title>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
<link th:href="@{/css/cyfw.css}" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
 <!--菜单开始-->
 <header th:include="header"/>
 <!--菜单结束-->
 
 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
	   <li><a href="#">产业服务</a></li>
		 <li><a href="#">证书查询</a></li>
       <li class="active">企业证书 </li>
     </ul>
   </div>
   <!--面包屑结束-->
   
    <div class="jcpgzs-box">
	   <div class="gsmc-jc"><span class="text-jc" th:text="${enterpriseCert.enterpriseName }">北京一呼通网络科技有限公司</span></div>
	   <div class="gsjb-jc"><span class="text-jc" th:text="${enterpriseCert.level }">一</span></div>
	   <ul class="list-unstyled jczs-binahao">
		   <li th:text="${enterpriseCert.certCode}">123456789</li>
		   <li th:text=" ${#dates.format(enterpriseCert.startDate, 'yyyy-MM-dd')}">2015-09-08</li>
		   <li th:text=" ${#dates.format(enterpriseCert.endDate, 'yyyy-MM-dd')}">2022-08-09</li>
	   </ul>
   </div>

 </div>
<div class="text-center"><a href="/service/cardSearchEnteg.html" class="btn btn-success zs-btn">返　　回</a></div>
 
  <!--footer开始-->
	<div th:include="footer"></div>
	 <!--footer结束-->
	 <script type="text/javascript">
		$(function(){
			$('#service').removeClass("manulinknone");
			$('#service').addClass("manulink");
			$('#l_searchenteg').removeClass("cyfw-manu9-none");
			$('#l_searchenteg').addClass("cyfw-manu9-on");
		})
	 </script>
 <!--footer结束-->
</body>
</html>
