 <div class="col-md-3">
       <ul class="list-unstyled">
         <li><a href="/service/cardSearchEnteg.html" id="l_searchenteg" class="left-manu cyfw-manu9-none text-center">企业证书查询</a></li>
         <li><a href="/service/cardSearch.html" id="l_search" class="left-manu cyfw-manu2-none text-center">个人证书查询</a></li>
         <li><a href="/hyproduct/index.html" id="l_hyproduct" class="left-manu cyfw-manu3-none text-center">行业采购</a></li>
         <li><a href="/job/index.html" id="l_job" class="left-manu cyfw-manu4-none text-center"  >行业招聘</a></li>
        </ul>
</div> 