 <div class="col-md-3">
       <ul class="list-unstyled">
         <li><a href="/service/index.html" id="l_index" class="left-manu cyfw-manu8-none  text-center">企业信息</a></li>
         <li><a href="/service/index.html" id="l_index" class="left-manu cyfw-manu7-none text-center">产品信息</a></li>
         <li><a href="/service/index.html" id="l_index" class="left-manu cyfw-manu6-none text-center">招标信息</a></li>
         <li><a href="/service/cardSearch.html" id="l_search" class="left-manu cyfw-manu2-none text-center">个人证书查询</a></li>
         <li><a href="/service/meet.html" id="l_meet" class="left-manu cyfw-manu3-none text-center">会议展览</a></li>
		 <li><a href="/service/technology.html" id="l_technology" class="left-manu cyfw-manu4-none text-center">技术推广</a></li>
		 <li><a href="/service/finace.html" id="l_finace" class="left-manu cyfw-manu5-none text-center">金融服务</a></li>
       </ul>
</div> 