<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link th:href="@{/css/cyfw.css}" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
	   <li><a href="#">产业服务</a></li>
       <li class="active">会议展览</li>
     </ul>
   </div>
   <!--面包屑结束-->
   <div class="row">
     <!--左侧菜单开始-->
     <div th:include="service/leftmenu"/> 
     <!--左侧菜单结束--> 
    
     <!--右侧内容开始-->
     <div class="col-md-9">
       <div class="row">
		   <div class="col-md-12">
			   <div><img src="/images/meeting1.jpg" class="img-responsive"></div>
			   <div>
				   <a href="#"><h4>第十九届地下管线布置会议在京召开</h4></a>
				   <a href="#">近日，福建省厦门市思明区在全省率先采用“道路病害灾害预警雷达系统VGPR-20”技术，对城区道路进行普查探测，预警地陷灾害，防范事故发生门市思明区在全省率先采用“道路病害灾害预警雷达系统VGPR-20”技术，对城区道路进行普查探测，预警地陷灾害，防范事故发生</a>
			   </div>
			   <div class="gb-line tg-list"></div>
			   <div><img src="/images/meeting1.jpg" class="img-responsive"></div>
			   <div>
				   <a href="#"><h4>厦门采用车载雷达进行地陷灾害普查探测</h4></a>
				   <a href="#">近日，福建省厦门市思明区在全省率先采用“道路病害灾害预警雷达系统VGPR-20”技术，对城区道路进行普查探测，预警地陷灾害，防范事故发生门市思明区在全省率先采用“道路病害灾害预警雷达系统VGPR-20”技术，对城区道路进行普查探测，预警地陷灾害，防范事故发生</a>
			   </div>
			   <div class="gb-line tg-list"></div>
			   <div><img src="/images/meeting1.jpg" class="img-responsive"></div> 
			   <div> 
				   <a href="#"><h4>厦门采用车载雷达进行地陷灾害普查探测</h4></a>
				   <a href="#">近日，福建省厦门市思明区在全省率先采用“道路病害灾害预警雷达系统VGPR-20”技术，对城区道路进行普查探测，预警地陷灾害，防范事故发生门市思明区在全省率先采用“道路病害灾害预警雷达系统VGPR-20”技术，对城区道路进行普查探测，预警地陷灾害，防范事故发生</a>
			   </div>
			   
		   </div>
	   </div>

     </div>
     <!--右侧内容结束-->
   </div>
 </div>
 
  <!--footer开始-->
	<div th:include="footer"></div>
 <!--footer结束-->
 <script type="text/javascript">
	$(function(){
		$('#service').removeClass("manulinknone");
		$('#service').addClass("manulink");
		$('#l_meet').removeClass("cyfw-manu3-none");
		$('#l_meet').addClass("cyfw-manu3-on");
	})
 </script>
 <!--footer结束-->
</body>
</html>
