<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link th:href="@{/css/cyfw.css}" rel="stylesheet" type="text/css" />
	<link  th:href="@{/css/gxsg.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
		 <li><a href="#">产业服务</a></li>
       <li class="active">招标详情</li>
     </ul>
   </div>
   <!--面包屑结束-->
   <div class="row">
     <!--左侧内容开始-->
     <div class="col-md-12">
	
		 <div class="maintop">
              <ul class="list-inline">
               <li class="pull-left menubt text-center"><h5>招标信息</h5></li>
               <!--<li class="pull-right morebt"><a href="#">more</a></li>-->
             </ul>
         </div>
		 <div class="box-bgcl spxq-box">
			 <table width="100%">
				 <tr height="40px;">
					 <td width="10%">项目名称：</td>
					 <td colspan="3"class="gray" th:text="${zbInfo.zbXmName}">第六期城镇排水管道检测与评估第六期城镇排水管道检测与评估</td>
				 </tr>
				 <tr height="40px;">
					 <td>发布日期：</td>
					 <td width="40%" class="gray" th:text=" ${#dates.format(zbInfo.publishDate, 'yyyy-MM-dd')}">2018-09-07</td>
					 <td width="12%">项目所在地：</td>
					 <td width="18%" class="gray" th:text="${zbInfo.area}">北京</td>
					 <td width="20%"><a class="btn btn-primary" id="search" target="_blank" th:href="${zbInfo.sourceUrl}">查看原文</a></td>
				 </tr>
				
			 </table>
            
		 </div>
		  <div class="maintop" style="margin-top: 35px;">
              <ul class="list-inline">
               <li class="pull-left menubt text-center"><h5>招标内容</h5></li>
               <!--<li class="pull-right morebt"><a href="#">more</a></li>-->
             </ul>
         </div>
		 <div class="box-bgcl spxq-box" th:utext="${zbInfo.zbContent}">
			 <p>    德高洁高压水混凝土拉毛机采用先进的高压水射流技术进行建筑墙面拉毛，高压水射流通过破除水泥表层砂浆层，在混凝土墙面形成粗糙表面，使得瓷砖胶等粘结剂可以很好地渗透到墙体内部，提高粘结材料和基层的粘结力，到达可靠粘结。
             </p>
			 <p>    德高洁高压水混凝土拉毛机采用先进的高压水射流技术进行建筑墙面拉毛，高压水射流通过破除水泥表层砂浆层，在混凝土墙面形成粗糙表面，使得瓷砖胶等粘结剂可以很好地渗透到墙体内部，提高粘结材料和基层的粘结力，到达可靠粘结。
             </p>
			 <p>    德高洁高压水混凝土拉毛机采用先进的高压水射流技术进行建筑墙面拉毛，高压水射流通过破除水泥表层砂浆层，在混凝土墙面形成粗糙表面，使得瓷砖胶等粘结剂可以很好地渗透到墙体内部，提高粘结材料和基层的粘结力，到达可靠粘结。
             </p>
			 <p>    德高洁高压水混凝土拉毛机采用先进的高压水射流技术进行建筑墙面拉毛，高压水射流通过破除水泥表层砂浆层，在混凝土墙面形成粗糙表面，使得瓷砖胶等粘结剂可以很好地渗透到墙体内部，提高粘结材料和基层的粘结力，到达可靠粘结。
             </p>
			
		 </div>
		 

     </div>
    
   </div>
 </div>
 
 <!--footer开始-->
	<div th:include="footer"></div>
 <!--footer结束-->
 <script type="text/javascript">
	$(function(){
		$('#service').removeClass("manulinknone");
		$('#service').addClass("manulink");
		$('#l_zbInfo').removeClass("cyfw-manu6-none");
		$('#l_zbInfo').addClass("cyfw-manu6-on");
		
		
		
		$('.page-link').click(function(){
			  if(!$(this).parent().hasClass("disabled")){
				  var pageNum=$(this).attr("pageIndex");
				  $(window).attr('location', '/service/zbinfo.html?pageNum='+pageNum);
			  }
		});
		
		
	})
 </script>
 <!--footer结束-->
</body>
</html>
