
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xs-3" style="text-align: center;">
                    <span style="font-size: 25px;margin: 10px 0;line-height: 80px">
                    </span>
            </div>
                <div class="col-lg-8 col-xs-8">
                    <ul class="nav nav-pills">
                        <li id="index">
                          <a th:href="@{/}" class="line">首页</a>
                        </li>
                        <li id="118">
                          <a th:href="@{/118/index.html}" class="line">118服务</a>
                        </li>
                        <li id="news">
                          <a th:href="@{/news/index.html}" class="line">行业资讯</a>
                        </li>
                        <li id="tender">
                          <a th:href="@{/tender/index.html}" class="line">行业采购</a>
                        </li>
                        <li id="hr">
                          <a th:href="@{/hr/index.html}" class="line">行业招聘</a>
                        </li>
                        <li id="train">
                          <a th:href="@{/train/index.html}" class="line">产业培训</a>
                        </li>
                        <li id="service">
                          <a th:href="@{/service/index.html}" class="line">产业服务</a>
                        </li>
                        <li id="maga">
                          <a th:href="@{/maga/index.html}" class="line">电子期刊</a>
                        </li>
                     </ul> 
                </div>
            </div>
        </div>
    </header>
 </html>