<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="head">
</head>
<head>
	<link href="/css/login.css" rel="stylesheet" type="text/css" /> 
	<style>
	#errMsg{
	color:red
	}
	</style>
</head> 

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="row login-bg">
	<div class="col-md-1"></div>

	<div class="col-md-5">
		<img src="/images/logo100.png">
	</div>
	<div class="col-md-4">	
		<form method="post" action="token.do" id="loginForm">
			  <div class="login-box" style="padding:0.5em 2.5em 5.5em;">
			     <h3>用户登录</h3>
			     <h6 id="errMsg" th:text="${loginStr}"></h6>
				 <div class="login-list">
				   <input class="form-control" placeholder="个人账号或企业名称" name="userName" type="text" style="height: 50px; font-size: 16px;">
				</div>
				 <div class="login-list">
				   <input class="form-control" placeholder="密码" type="password" name="password" style="height: 50px; font-size: 16px;">
				</div>
				  <ul class="list-inline list-unstyled">
					  <li class="pull-left"><a href="reg.html" class="blue-link">注册</a></li>
					  <li class="pull-right"><a href="#" class="blue-link">忘记密码?</a></li>
				  </ul>
				  <div class="login-list">
					   <button id="login" type="button" style="width:100%; font-size: 16px; height:50px; line-height:37px;">登录</button>
				  </div>
			  </div>
		  </form>
	</div>
	<div class="col-md-2" ></div>

</div>
</body>
<link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script type="text/javascript">
	$(function() {
			$("#loginForm").validate({
				errorPlacement:function(error,element) {
					$("#errMsg").next().removeClass("login-list");
					 error.appendTo("#errMsg");//将错误信息全部放入到一个div内部显示
					 $("<br/>").appendTo("#errMsg");
					},
					
				 rules: {
		        	userName:{
		        		required: true
		        	},
		            password: {
		              required: true,
		              minlength: 6
		            }
		          },
		          messages: {
		        	  userName:{
			        		required: '请输入账号',
			        	},
		            password:{
		              required:'请输入密码',
		              minlength:'密码要多于6位'
		            }
		           
		          }
		     });
	
	 
	 	$("#login").click(function(){
	    	if($("#loginForm").valid()){
	    		
	    		$("#loginForm").submit();
	    	}

	    })
	})

</script>

</html>

