<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="head">
</head>
<head>
	<link href="/css/login.css" rel="stylesheet" type="text/css" /> 
 	<link rel="stylesheet" href="/css/jquery.step.css" />
</head> 

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-5">
		<img src="/images/logo100.png">
	</div>
</div>
 <div class="row">
      <div class="col-md-offset-3 col-md-7 top-20">
        <div id="step"></div>
      </div>
  </div>
    <div class="row">
     <div class="col-md-offset-3 col-md-7">
        <div style="text-align:center;">
          <div style="padding:30px " class="top-20">
            <h3 >
              <i class="fa  fa-check-circle success-img" style="font-size: 80px "> </i>恭喜你：密码已经修改
            </h3>
           
          </div>

          <div class="top-20">
             <a href="login.html" class="btn btn-success" style="font-size: 18px" >请登录</a>
          </div>
          
        </div>
      </div>
    </div>
</body>
<link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/js/constant.js"></script>
<script src="/js/jquery.step.min.js"></script>
<script type="text/javascript">
  var $step = $("#step");
  $step.step({
    index: 2,
    time: 500,
    title: ["输入账号", "设置账户信息", "修改成功"]
  });
</script>
</html>

