<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="head">
</head>
<head>
	<link href="/css/login.css" rel="stylesheet" type="text/css" /> 
 	<link rel="stylesheet" href="/css/jquery.step.css" />
</head> 

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-5">
		<img src="/images/logo100.png">
	</div>
</div>
 <div class="row">
      <div class="col-md-offset-3 col-md-7 top-20">
        <div id="step"></div>
      </div>
    </div>
    <div class="row">
     <div class="col-md-offset-3 col-md-7">
        <div style="text-align:center;">
          <div style="padding:10px " class="top-20">
            <h3 >用户注册</h3> 
          </div>
          <form class="form-horizontal" id="regForm" action="submitregsuccess.do" method="post">
          <input  type="hidden" name="submittoken" th:value="${session.submittoken}"/>
          <input  type="hidden" name="reginfoId" th:value="${regInfo.reginfoId}"/>
          
            <div class="form-group">
                <label class="col-md-3 control-label reg-form-lable">
                  <span style="color:red">*</span>个人账号
                </label>
                <div class="col-md-6">
                 <input type="text" class="form-control reg-form-input" id="userName" name="userName" placeholder="请输入个人账号" >
                </div>
                 <div class="col-md-3 text-left">
					<label id="userName-error" class="errorlabel error"  for="userName"/>
				</div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">
                  <span style="color:red">*</span>身份证号
                </label>
                <div class="col-md-6">
                 <input type="text" class="form-control reg-form-input" id="userCode"  name="userCode" placeholder="请输入身份证号">
                </div>
                <div class="col-md-3 text-left">
					<label id="userCode-error" class="errorlabel error"  for="userCode"/>
				</div>
              </div>
             
              <div class="form-group">
                <label class="col-md-3 control-label">
                  <span style="color:red">*</span>密码
                </label>
                <div class="col-md-6">
                 <input type="password" class="form-control reg-form-input" id="password" name="password" placeholder="请输入登录密码">
                </div>
                <div class="col-md-3 text-left">
					<label id="password-error" class="errorlabel error"  for="password"/>
				</div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">
                  <span style="color:red">*</span>重复密码
                </label>
                <div class="col-md-6">
                 <input type="password" class="form-control reg-form-input" id="repassword" name="repassword" placeholder="请输入登录密码">
                </div>
                  <div class="col-md-3 text-left">
					<label id="repassword-error" class="errorlabel error"  for="repassword"/>
				</div>
              </div>
            
            <div class="form-group">
              <div class="col-md-offset-3 col-md-6 top-20">
                <button id="reg" type="button" class="btn btn-success">下一步</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
    
    	
    
</body>
<link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/js/constant.js"></script>
<script src="/js/jquery.step.min.js"></script>
<script type="text/javascript">

$("#content").html($("#emp").html());

	 var $step = $("#step");
	  $step.step({
	    index: 1,
	    time: 500,
	    title: ["验证手机号", "设置账户信息", "注册成功"]
	  });
     $("#reg").click(function(){
		   if($("#regForm").valid()){
		   		$("#regForm").submit();
		   }
	   });
     
	    $("#regForm").validate({
		          rules: {
		        	  userName: {
			              required: true,
			              remote: {  
			                  type:"POST",  
			                  url:"/isExitByUserName.do",
			                  data:{userName:function(){ return $("#userName").val(); }}}
			         },
			         userCode: {
			              required: true,
			              remote: {  
			                  type:"POST",  
			                  url:"/isExitByUserCode.do",
			                  data:{userCode:function(){ return $("#userCode").val(); }}}
			         },
		            password: {
		              required: true,
		              minlength: 6
		            },
		            repassword:{
		              required: true,
		              equalTo:"#password"
		            }
		          },
		          messages: {
		        	userName:{
			             required:'请输入账号',
			             remote:'此账号名称已存在'
			         },
			        userCode:{
				        required:'请输入身份证号',
				        remote:'此身份证号已存在'
				     },
		          
		            password:{
		              required:'请输入密码',
		              minlength:'密码要多于6位'
		            },
		            repassword:{
		              required:'请输入密码',
		              equalTo:"密码不一致，请再次输入"
		            },
		           
		          }
		     });
</script>
</html>

