<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
<link  th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link href="/css/cypx.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->

  <div class="gb-main"> 

  <div class=" container">
  <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
       <li class="active">产业培训</li>
     </ul>
   </div>
   <!--面包屑结束-->
 <!--培训信息开始-->
    <div class="maintop cypx_main">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>培训信息</h5></li>
          <li class="pull-right morebt"><a href="#">more</a></li>
       </ul>
    </div>
    <div class="row">
     <div class=" col-md-7">
		 <div class="cypx-sp">
			 <div class="px-sp-box text-center">
				 <h2>某地安装技术工职业技能培训</h2>
				 <div class="sp-time text-left">
					 <p>上课时间：2018-01-03  13:00</p>
					 <p>授课教师：高级工程师  张三</p>
					 <p>课程分类：安装基础知识</p>
				 </div>
				 <a href="#" class="btn btn-primary btn-warning" style="width: 40%;">即将开始</a>
			 </div>
		 </div>
		</div>
     <div class=" col-md-5">
      <div class="box-bgcl" style="overflow:auto;">
        <ul class="gb-news">
          <li class="xwlist pull-left"><a href="#">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
          <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
        </ul>
          <div class="gb-line clearfix"></div>
          <ul class="gb-news">
          <li class="xwlist pull-left"><a href="#">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
          <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
        </ul>
          <div class="gb-line clearfix"></div>
          <ul class="gb-news">
          <li class="xwlist pull-left"><a href="#">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
          <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
        </ul>
          <div class="gb-line clearfix"></div>
          <ul class="gb-news">
          <li class="xwlist pull-left"><a href="#">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
          <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
        </ul>
          <div class="gb-line clearfix"></div>
          <ul class="gb-news">
          <li class="xwlist pull-left"><a href="#">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
          <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
        </ul>
          <div class="gb-line clearfix"></div>
          <ul class="gb-news">
          <li class="xwlist pull-left"><a href="#">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
          <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
        </ul>
          <div class="gb-line clearfix"></div>
          <ul class="gb-news">
          <li class="xwlist pull-left"><a href="#">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
          <li class="list-unstyled pull-right"><time datetime="2018-1-22">2018-1-22</time></li>
        </ul>

      </div>
     </div>
    </div>
 
     <!--培训信息结束-->
     
    <!--讲师开始-->
    <div class="maintop">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>讲师信息</h5></li>
          <li class="pull-right morebt"><a href="#">more</a></li>
       </ul>
    </div>
    <div class="box-bgcl">
      <div class="row cyfuwu jsxx">
        <div class="col-md-3">
          <a href="#" class="js-box">
          <div class="img-round-square" style="background:#fff url(/images/js1.jpg) no-repeat"></div>
          <P>姓名：张三</P>
          <p>职称：高级工程师</p>
          <p>职务：某某大学教授 某某公司工程师</p>
          </a>
          
       </div>
       <div class="col-md-3">
          <a href="#" class="js-box"><div class="img-round-square" style="background:#fff url(/images/js2.jpg) no-repeat"></div>
           <P>姓名：张三</P>
          <p>职称：高级工程师</p>
          <p>职务：某某大学教授 某某公司工程师</p>
          </a>
       </div>
       <div class="col-md-3">
          <a href="#" class="js-box">
            <div class="img-round-square" style="background:#fff url(/images/js3.jpg) no-repeat"></div>
             <P>姓名：张三</P>
            <p>职称：高级工程师</p>
            <p>职务：某某大学教授 某某公司工程师</p>
          </a>
       </div>
       <div class="col-md-3">
          <a href="#" class="js-box">
            <div class="img-round-square" style="background:#fff url(/images/js1.jpg) no-repeat"></div>
             <P>姓名：张三</P>
            <p>职称：高级工程师</p>
            <p>职务：某某大学教授 某某公司工程师</p>
          </a>
       </div>
      
      </div>
    </div>
    <!--讲师结束-->
      <!--培训课程开始-->
    <div class="maintop">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>课程信息</h5></li>
          <li class="pull-right morebt"><a href="#">more</a></li>
       </ul>
    </div>
    <div class="box-bgcl">
      <div class="portlet light bordered">
              <div class="portlet-title tabbable-line">
                <ul class="nav nav-tabs">
                  <li class="active">
                      <a href="#portlet_comments_1" data-toggle="tab"> 基础课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_2" data-toggle="tab"> 一级课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_3" data-toggle="tab"> 二级课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_4" data-toggle="tab"> 三级课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_5" data-toggle="tab"> 四级课程 </a>
                  </li>
              </ul>
              
              </div>
              <div class="portlet-body">
                <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1">
                    <div class="mt-comments">
                      <div class="row text-center px_list">
                        <div class="col-md-4">
                          <a href="#">
                            <div class="img-shadow-1 pxkc-box">
                              <div class="px-kcbt shenhui"><span>基础知识理论课程</span><br>学时：2小时</div>
                              <div>
                               <p class="gray text-left px-zw">基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程</p>
                              </div>
                            </div>
                            
                          </a>
                        </div>
                        <div class="col-md-4">
                          <a href="#">
                            <div class="img-shadow-1 pxkc-box">
                              <div class="px-kcbt shenhui"><span>基础知识理论课程</span><br>学时：2小时</div>
                              <div>
                               <p class="gray text-left px-zw">基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程</p>
                              </div>
                            </div>
                            
                          </a>
                        </div>
                        <div class="col-md-4">
                          <a href="#">
                            <div class="img-shadow-1 pxkc-box">
                              <div class="px-kcbt shenhui"><span>基础知识理论课程</span><br>学时：2小时</div>
                              <div>
                               <p class="gray text-left px-zw">基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程</p>
                              </div>
                            </div>
                            
                          </a>
                        </div>
                      </div>     
                      
                       
                    </div>
                  
                </div>
                <div class="tab-pane" id="portlet_comments_2">
                    <div class="mt-comments">
                     
                    </div>
                </div>
                <div class="tab-pane" id="portlet_comments_3">
                    <div class="mt-comments">
                    333
                    </div>
                </div>
                <div class="tab-pane" id="portlet_comments_4">
                    <div class="mt-comments">
                    444
                    </div>
                </div>
                <div class="tab-pane" id="portlet_comments_5">
                    <div class="mt-comments">
                    555
                    </div>
                </div>
            </div>
              </div>
            </div>
    </div>
    
    
    
    
    
    
    <!--培训课程结束-->
     <!--培训证书开始-->
    <div class="maintop">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>培训证书</h5></li>
          <li class="pull-right morebt"><a href="#">more</a></li>
       </ul>
    </div>
    <div class="box-bgcl">
      <div class="row">
        <div class="col-md-6">
          <table class=" table table-striped table-bordered">
            <thead>
              <th>机构编号</th>
              <th>机构名称</th>
              <th>人员数</th>
            </thead>
            <tbody>
              <tr>
                <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
              <tr>
                <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
              <tr>
               <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
              <tr>
               <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
            </tbody>
          </table> 
         
        </div>
        <div class="col-md-6">
          <table class=" table table-striped table-bordered">
            <thead>
              <th>机构编号</th>
              <th>机构名称</th>
              <th>人员数</th>
            </thead>
            <tbody>
              <tr>
                <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
              <tr>
                <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
              <tr>
               <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
              <tr>
               <td>G01001</td>
                <td>测试有限责任公司</td>
                <td>100</td>
              </tr>
            </tbody>
          </table> 
         
        </div>
      </div>
    </div>
   
    
    <!--培训证书结束-->
  </div>
  </div>
 <!--footer开始-->
	 <div th:include="footer"></div>
  	<!--footer结束-->
  	<script type="text/javascript">
	$(function(){
		$('#train').removeClass("manulinknone");
		$('#train').addClass("manulink");
	})
</script>
  <!--footer结束-->
</body>
</html>
