<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
<link  th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link href="/css/cypx.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->

  <div class="gb-main"> 

  <div class=" container">
  <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
       <li class="active">会议培训</li>
     </ul>
   </div>
   <!--面包屑结束-->
   
  <!--会议信息开始-->
    <div class="maintop cypx_main">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>会议信息</h5></li>
          
       </ul>
    </div>
    <div class="row">
     <div class=" col-md-7">
		<div  th:style="'width:540px;height:300px;background:url(/'+ @{${fileMap[mainMeet.meetPicId]}}+')'" >
					 <div style="position:absolute;left:250px;top:200px;">
						 
						  <a th:href="@{'/service/meet/detail.html?meetId='+${mainMeet.meetId}}"   class="btn btn-primary btn-warning" style="width: 100%;" th:if="${mainMeet.zbState==0}">会议信息</a>
						  <a th:href="@{${mainMeet.zbUrl}}"   class="btn btn-primary btn-warning" style="width: 100%;" th:if="${mainMeet.zbState==1}">进入直播</a>
					 </div>
		</div>
		</div>
     <div class=" col-md-5">
      <div class="box-bgcl" style="overflow:auto;">
        <div th:each="meet,iterStat:${meeList}">
	        <ul class="gb-news">
	          <li class="xwlist pull-left"><a th:href="@{'/service/meet/detail.html?meetId='+${meet.meetId}}" th:text="${meet.meetName}">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
	          <li class="list-unstyled pull-right"><time th:text=" ${#dates.format(meet.startDate, 'yyyy-MM-dd')} ">2018-1-22</time></li>
	        </ul>
	        <div class="gb-line clearfix"  th:if="not ${iterStat.last}"></div>
        </div>
	  </div>
     </div>
    </div>
 
 <!--会议信息结束--> 
   
   
 <!--培训信息开始-->
    <div class="maintop cypx_main" style="margin-top:20px">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>培训信息</h5></li>
          
       </ul>
    </div>
    <div class="row">
     <div class=" col-md-7">
		 <div class="cypx-sp">
			 <div class="px-sp-box text-center">
				 <h2 th:text="${mainTrain.trainName}">某地安装技术工职业技能培训</h2>
				 <div class="sp-time text-left">
					 <p>上课时间：<span th:text=" ${#dates.format(mainTrain.trainStartDate, 'yyyy-MM-dd')}">2018-01-03</span></p>
					 <p>培训地点：<span th:text="${mainTrain.trainAddr}">武汉</span></p>
				</div>
				 <a th:href="@{'/train/detail.html?trainPlanId='+${mainTrain.trainPlanId}}" class="btn btn-primary btn-warning" style="width: 40%;">培训信息</a>
			 </div>
		 </div>
		</div>
     <div class=" col-md-5">
      <div class="box-bgcl" style="overflow:auto;">
        <div th:each="train,iterStat:${trainList}">
	        <ul class="gb-news">
	          <li class="xwlist pull-left"><a th:href="@{'/train/detail.html?trainPlanId='+${train.trainPlanId}}" th:text="${train.trainName}">17年，生态文明战略更加突出，环境产业成为国民经济支柱产业</a></li>
	          <li class="list-unstyled pull-right"><time th:text=" ${#dates.format(train.trainStartDate, 'yyyy-MM-dd')}">2018-1-22</time></li>
	        </ul>
	        <div class="gb-line clearfix"  th:if="not ${iterStat.last}"></div>
        </div>
	  </div>
     </div>
    </div>
 
     <!--培训信息结束-->
     
    <!--讲师开始-->
    <div class="maintop">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>专家信息</h5></li>
          <li class="pull-right morebt"><a href="/train/teacherList.html">more</a></li>
       </ul>
    </div>
    <div class="box-bgcl">
      <div class="row cyfuwu jsxx">
        <div class="col-md-3" th:each="teacher,iterStat:${teacherList}">
          <a th:href="@{'/train/teacherdetail.html?trainTeacherId='+${teacher.trainTeacherId}}" class="js-box">
          <div class="img-round-square"  th:style="'background:#fff url(' + @{'/file/downloadByBusi.do?bussinessId='+${teacher.teacherPicPath}} +') no-repeat'"></div>
          <P>姓名：<span th:text="${teacher.teacherName}">张三</span></P>
          <p>职称：<span th:text="${teacher.teacherPosition}">某某大学教授 某某公司工程师</span></p>
          </a>
       </div>
       
      
      </div>
    </div>
    <!--讲师结束-->
      <!--培训课程开始-->
    <div class="maintop">
       <ul class="list-inline">
          <li class="pull-left menubt text-center"><h5>课程信息</h5></li>
          <li class="pull-right morebt"><a href="/train/classList.html">more</a></li>
       </ul>
    </div>
    <div class="box-bgcl">
      <div class="portlet light bordered">
             <!--  <div class="portlet-title tabbable-line">
                <ul class="nav nav-tabs">
                  <li class="active">
                      <a href="#portlet_comments_1" data-toggle="tab"> 基础课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_2" data-toggle="tab"> 一级课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_3" data-toggle="tab"> 二级课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_4" data-toggle="tab"> 三级课程 </a>
                  </li>
                  <li>
                      <a href="#portlet_comments_5" data-toggle="tab"> 四级课程 </a>
                  </li>
              </ul>
              
              </div> -->
              <div class="portlet-body">
                <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1">
                    <div class="mt-comments">
                      <div class="row text-center px_list">
                        <div class="col-md-4" th:each="class,iterStat:${classList}">
                          <a th:href="@{'/train/classdetail.html?trainClassId='+${class.trainClassId}}">
                            <div class="img-shadow-1 pxkc-box" style="margin-bottom:20px">
                              <div class="px-kcbt shenhui"><span th:text="${class.trainClassName}">基础知识理论课程</span><br>学时：<span th:text="${class.num}">2</span>小时</div>
                              <div>
                               <p class="gray text-left px-zw" th:text="${class.classDesc}">基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程基础知识理论课程</p>
                              </div>
                            </div>
                            
                          </a>
                        </div>
                        
                       </div>
                      </div>     
                      
                       
                    </div>
                  
                </div>
                
            </div>
              </div>
            </div>
    </div>
    
    <!--培训课程结束-->
   
  </div>
  </div>
 <!--footer开始-->
	 <div th:include="footer"></div>
  	<!--footer结束-->
  	<script type="text/javascript">
	$(function(){
		$('#train').removeClass("manulinknone");
		$('#train').addClass("manulink");
		$('.img-round-square').each(function() {
			   console.log($(this).css("background"))
		});
	})
</script>
  <!--footer结束-->
</body>
</html>
