<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
<link  th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link href="/css/cypx.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <!--菜单开始-->
 <header th:include="header"/>
  <!--菜单结束-->

  <div class="gb-main"> 

  <div class=" container">
  <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
       <li class="active">专家信息</li>
     </ul>
   </div>
   <!--面包屑结束-->
   
   <!--讲师信息开始-->
   <div class="row">
	   <div class="col-md-4" th:each="teacher,iterStat:${page.content}">
	   	 <a href="#">
		   <div class="img-shadow-1 pxjs_list clearfix">
			   <dl>
				   <dt class="pull-left js-left"><img th:src="@{'/file/downloadByBusi.do?bussinessId='+${teacher.teacherPicPath}}" style="width:128px;height:160px"></img></dt>
				   <dd class="pull-right js-right text-left" style="margin-top:40px">
					   <ul class="list-unstyled jslb-text">
						   <li>姓名：<span th:text="${teacher.teacherName}">张三</span></li>
						   <li>职称：<span th:text="${teacher.teacherTitle}">高级工程师</span></li>
						   <li>职务：<span th:text="${teacher.teacherPosition}">某某大学教授 某某公司工程师</span></li>
						</ul>
				   </dd>
			   </dl>
		   	</div>
		   </a>	
	   </div>
	 
   </div>
	  
    <!--分页开始-->  
        <div class="row">
            <div class="col-md-12 text-center">
				<div th:include="pagination"/> 
           </div>
        </div> 
      <!--分页结束-->
                  
   
  </div>
  </div>
  	<!--footer开始-->
	 <div th:include="footer"></div>
  	<!--footer结束-->
  	<script type="text/javascript">
	$(function(){
		$('#train').removeClass("manulinknone");
		$('#train').addClass("manulink");
		
		$('.page-link').click(function(){
			  if(!$(this).parent().hasClass("disabled")){
				  var pageNum=$(this).attr("pageIndex");
				  $(window).attr('location', '/train/teacherList.html?pageNum='+pageNum);
			  }
		});
	})
</script>
</body>
</html>
