<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
<link  th:href="@{/css/cyfw.css}" rel="stylesheet" type="text/css">

</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->

 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
	   <li><a href="#">118服务</a></li>
       <li class="active">开通城市</li>
     </ul>
   </div>
   <!--面包屑结束-->
   <div class="row">
     <!--左侧菜单开始-->
     <div th:include="118/leftmenu"/> 
     <!--左侧菜单结束-->
    
     <!--右侧内容开始-->
     <div class="col-md-9">
       <div class="row">
		   <div class="col-md-9" >
		   			
		     <form method="post"  action="/118/saveCity.html" id="cityForm">
		           <input  type="hidden" name="submittoken" th:value="${session.submittoken}"/>  
				   <div class="row zcsx-list">
						<div class="col-md-2 text-right">
							<label class="control-label zscx-text"><span
								style="color: red">*</span>城市名称 </label>
						</div>
						<div class="col-md-6 text-center">
							<input class="form-control" placeholder="请输入城市名称 " type="text" name="cityName"/>
						</div>
						<div class="col-md-3 text-left">
						 <label id="cityName-error" class="errorlabel  error " for="cityName"/>
                  		 </label>
						</div>
					</div>
					<div class="row zcsx-list">
						<div class="col-md-2 text-right">
							<label class="control-label zscx-text"><span
								style="color: red">*</span>申请单位 </label>
						</div>
						<div class="col-md-6 text-center">
							<input class="form-control" placeholder="请输入申请单位 " type="text" name="applyCompany"/>
						</div>
						<div class="col-md-3 text-left">
						 <label id="applyCompany-error" class="errorlabel  error " for="applyCompany"/>
                  		 </label>
						</div>
					</div>
					<div class="row zcsx-list">
						<div class="col-md-2 text-right">
							<label class="control-label zscx-text"><span
								style="color: red">*</span>联系人 </label>
						</div>
						<div class="col-md-6 text-center">
							<input class="form-control" placeholder="请输入联系人 " type="text" name="person"/>
						</div>
						<div class="col-md-3 text-left">
						 <label id="person-error" class="errorlabel  error " for="person"/>
                  		 </label>
						</div>
					</div>
					<div class="row zcsx-list">
						<div class="col-md-2 text-right">
							<label class="control-label zscx-text"><span
								style="color: red">*</span>联系人电话 </label>
						</div>
						<div class="col-md-6 text-center">
							<input class="form-control" placeholder="请输入联系人电话 " type="text" name="telphone"/>
						</div>
						<div class="col-md-3 text-left">
						 <label id="telphone-error" class="errorlabel  error " for="telphone"/>
                  		 </label>
						</div>
					</div>
					<div class="row zcsx-list">
						<div class="col-md-2 text-right">
							<label class="control-label zscx-text"><span
								style="color: red">*</span>短信验证码 </label>
						</div>
						<div class="col-md-4 text-center">
							<input class="form-control" type="text" name="smscode" id="smscode" placeholder="请输入4位短信验证码"/>
						</div>
						
						<div class="col-md-3">
		                   <a  class="btn btn-default" id="sendsms">发送验证码</a>
                		</div>
						<div class="col-md-2 text-left">
							<label id="smscode-error" class="errorlabel  error " for="smscode" style="margin-left:3px;margin-top:10px"/>
						</div>
					</div>
				
				   <div style="text-align:center">
				  		<a  class="btn btn-primary" style="width:30%" id="reg">提交</a>
				  </div>
			</form>
		   	  
		   </div>
		   <div class="col-md-3">
			   <h4>已开通城市</h4>
			   <table class="table text-center table-striped">
				   
			       <tr>
					   <td><a href="http://service.bjmac.gov.cn/zhxtgl/" target="_blank">北京</a></td>
			       </tr>
			         <tr>
					   <td><a href="http://www.zbgxxh.com/GTPT/" target="_blank">淄博</a></td>
			        </tr>
			       <tr>
					   <td><a href="http://www.onecall.hk/" target="_blank">香港</a></td>
			        </tr>
			       
			       <!-- <tr th:each="org : ${orgList}">
					   <td><a th:href="@{'/118/login.html?applyOrgId='+${org.applyOrgId}}" th:text="${org.city}"></a></td>
			       </tr> -->
			       
			   </table>
		   </div>
	   </div>       
		
     </div>
     <!--右侧内容结束-->
   </div>
 </div>
 
  <!--footer开始-->
	   <div th:include="footer"></div>
  <!--footer结束-->

</body>

<link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	



<script type="text/javascript">

$.validator.addMethod("isMobile", function(value, element) {
    var length = value.length;
    var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
    return this.optional(element) || (length == 11 && mobile.test(value));
}, "请正确填写您的手机号码");


function getInviteCode(m,_this){
  	var parm=$("#cityForm").serialize();
    $.post("/118/city/getSmsCode.do",parm,function(data,status){
      var interval=setInterval(function(){
          m=m-1;
          _this.html(m+"秒后再次发送");
          if(m<=0){
             clearInterval(interval);
             $("#sendsms").removeClass("disabled");
              _this.html("再次发送验证码");
             return; 
          }
         },1000);

      });
 }

$(function(){
	$('#118').removeClass("manulinknone");
	$('#118').addClass("manulink");
	$('#l_index').removeClass("fw-manu1-none");
	$('#l_index').addClass("fw-manu1-on");
	
	
	$("#reg").click(function(){
    	if($("#cityForm").valid()){
    		var parm=$("#cityForm").serialize();
    	    $.post("/118/city/validateSmsCode.do",parm,function(data,status){
    	    	console.log(data);
    	    	if(data.state==0){
    	    		$("#smscode-error").html("验证码失败");
    	    		$("#smscode-error").show();
    	    	}else{
    	    		$("#cityForm").submit();
    	    	}
    	    	
    	    })
    		
	    }

    });
	
	 $("#sendsms").click(function(){
	    
		 if($("#cityForm").valid()){
		 	$("#sendsms").addClass("disabled");
	     	getInviteCode(60,$(this));
		 }
	             
  	});
	 
	 
	 
	
	
	 $("#cityForm").validate({
         rules: {
           cityName:{
              required:true,
           },
           telphone:{
             required:true,
             isMobile:true 
           },
           applyCompany: {
             required: true
           },
           person:{
             required: true
           }
         },
         messages: {
        	cityName:{
             required:'请输入城市名称'
           },
           telphone:{
             required:'请输入联系人电话',
             mobile:'手机格式不正确,请重新输入'
           },
           applyCompany:{
             required:'请输入申请单位'
           },
           person:{
             required:'请输入联系人'
           }
          
         }
    });
	
	
})
</script>






</html>
