 <div class="col-md-3">
    <ul class="list-unstyled">
       <li><a href="/118/index.html"  id="l_index" class="left-manu fw-manu1-none text-center">118中国行</a></li>
       <li><a href="/118/submit.html" id="l_submit" class="left-manu fw-manu2-none text-center">施工申请</a></li>
       <li><a href="/118/search.html" id="l_search" class="left-manu fw-manu3-none text-center">申请查询</a></li>
	   <li><a href="/118/about.html" id="l_about" class="left-manu fw-manu4-none text-center">关于118</a></li>
     </ul> 
</div>