 <div class="col-md-3">
    <ul class="list-unstyled">
       <li><a href="/118/index.html"  id="l_index" class="left-manu fw-manu1-none text-center">开通城市</a></li>
      <!--  <li><a href="/118/login.html" id="l_login" class="left-manu fw-manu2-none text-center">施工申请</a></li>
       <li><a href="/118/search.html" id="l_search" class="left-manu fw-manu3-none text-center">申请查询</a></li> -->
        <li><a href="/118/model.html" id="l_model" class="left-manu fw-manu2-none text-center">118模式</a></li>
	   <li><a href="/118/about.html" id="l_about" class="left-manu fw-manu4-none text-center">关于118</a></li>
     </ul> 
</div>