<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
<link  th:href="@{/css/cyfw.css}" rel="stylesheet" type="text/css">
<link  th:href="@{/css/gxsg.css}"rel="stylesheet" type="text/css">

</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->

 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
	   <li><a href="#">118服务</a></li>
       <li class="active">118模式</li>
     </ul>
   </div>
   <!--面包屑结束-->
   <div class="row">
     <!--左侧菜单开始-->
     <div th:include="118/leftmenu"/> 
     <!--左侧菜单结束-->
    
     <!--右侧内容开始-->
     <div class="col-md-9">
       <div class="row">
		<div class="col-md-6">
			<a href="/118/modeldetail.html?contentId=ed11958c-9f2f-46cc-838e-ce04e4aa704f" class="moshi-box">
				<div class="pull-left"><img src="/images/bejing1.jpg" width="" height=""></div>
				<div class="pull-right">北京模式</div>
			</a>
		   </div>   
		<div class="col-md-6">
			<a href="/118/modeldetail.html?contentId=c3129b9e-bf26-4f00-a7f1-4a803a8898ec" class="moshi-box pull-right">
				<div class="pull-left"><img src="/images/zibo1.jpg" width="" height=""></div>
				<div class="pull-right">淄博模式</div>
			</a>
		   </div>
	   </div>
		 <div class="row cs-moshi">
		<div class="col-md-6">
			<a href="/118/modeldetail.html?contentId=43f2b8db-197a-4551-8af5-01c72f199d90" class="moshi-box">
				<div class="pull-left"><img src="/images/guonei1.jpg" width="" height=""></div>
				<div class="pull-right">国内城市</div>
			</a>
		   </div>   
		<div class="col-md-6">
			<a href="/118/modeldetail.html?contentId=a9dbab76-7aff-4e1c-8dd8-86ca34a343a4" class="moshi-box pull-right">
				<div class="pull-left"><img src="/images/guoji1.jpg" width="" height=""></div>
				<div class="pull-right">国际城市</div>
			</a>
		   </div>
	   </div>       
     </div>
     <!--右侧内容结束-->
   </div>
 </div>
 
  <!--footer开始-->
	   <div th:include="footer"></div>
  <!--footer结束-->

</body>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>




<script type="text/javascript">
$(function(){
	$('#118').removeClass("manulinknone");
	$('#118').addClass("manulink");
	$('#l_model').removeClass("fw-manu2-none");
	$('#l_model').addClass("fw-manu2-on");
	
	
})
</script>

<script type="text/javascript">

</script>




</html>
