<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link href="/css/cyfw.css" rel="stylesheet" type="text/css">
	<link href="/css/houtai.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main  container-fluid">
 
   <div class="row houtai-box" style="margin-top:5px">
     <!--左侧菜单开始-->
     <div class="col-md-2">
		<div th:include="emp/leftmenu"/>  
	 </div>
     <!--左侧菜单结束-->
   <div class="col-md-10 main-content">
   <form method="post" action="savepassword.do" id="form">
   
   	 <input  type="hidden" name="submittoken" th:value="${session.submittoken}"/>
   	 
     <div class="col-md-9 col-md-offset-2 " style="margin-top:30px">
		 <div class="row zcsx-list">
		  <div class="col-md-3 text-right"><label class="control-label zscx-text">原密码</label></div>
		  <div class="col-md-5 text-center"><input class="form-control " name="oldpassword" id="oldpassword" placeholder="请输入原密码" type="password" ></div>
		  <div class="col-md-3 text-left"><label id="oldpassword-error" class="errorlabel error"  for="oldpassword" /></div>
	   	 </div>
	   	 
		 <div class="row zcsx-list">
		  <div class="col-md-3 text-right"><label class="control-label zscx-text">新密码</label></div>
		  <div class="col-md-5 text-center"><input class="form-control" name="password"  id="password" placeholder="请输入新密码" type="password" ></div>
		  <div class="col-md-4 text-left"><label id="password-error" class="errorlabel error"  for="password" /></div>
	   </div>
	   <div class="row zcsx-list">
		  <div class="col-md-3 text-right"><label class="control-label zscx-text">重复密码</label></div>
		  <div class="col-md-5 text-center"><input class="form-control" name="repassword"   id="repassword" placeholder="请重复输入新密码" type="password"  ></div>
		  <div class="col-md-4 text-left"><label id="repassword-error" class="errorlabel error"  for="repassword"/></div>
	   </div>
		
		 <div>
			<div class="col-md-3 text-right"></div>
			<div class="col-md-5 text-center">
				<a href="#" class="btn btn-success"  id="reg">提交</a>
				
				<a href="/emp/security.html" class="btn btn-default"  id="back">返回</a>
		   </div>
			<div class="col-md-4 text-left">
			  
			</div>
	   </div>
	   </div>
     </div>
	   <div class="col-md-1"></div>
     </form>
   </div>
 </div>
 
 <!--footer开始-->
	<div th:include="footer"></div>
 <!--footer结束-->
 <link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
 <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
 <script type="text/javascript">
	$(function(){
		
		$('#security').addClass("active"); 
		
		 $("#reg").click(function(){
		    	if($("#form").valid()){
		    		
		    		 $("#form").submit();
		    	}

		    });
		 
		 
		
		
		$("#form").validate({
	          rules: {
	        	  oldpassword:{
	            	  required:true,
		              remote:{  
		                    type:"POST",  
		                    url:"/per/repassword.html",
		                    data:{  
		                    	oldpassword:function(){ return $("#oldpassword").val(); }  
		                    }  
		                } 
	            },
	            password:{
	              required:true,
	              minlength: 6
	            },
	            repassword: {
	              required: true,
	              equalTo:"#password"
	            }
	           
	          },
	          messages: {
	        	  oldpassword:{
		              required:'请输入密码',
		              remote:'密码不正确，请重新输入'
		            },
	        	  password:{
		              required:'请输入密码',
		              minlength:'密码要多于6位'
		            },
		          repassword:{
		              required:'请输入密码',
		              equalTo:"密码不一致，请再次输入"
		          },
	           
	          }
	     });
		
		
		
	})
 </script>
 <!--footer结束-->
</body>
</html>
