<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	
	<link href="/css/houtai.css" rel="stylesheet" type="text/css">
	<link href="/css/upload.css" rel="stylesheet" type="text/css">
	<link href="/js/upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
	
</head>
 

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main  container-fluid">
  
   <div class="row houtai-box" style="margin-top:5px">
     <!--左侧菜单开始-->
     <div class="col-md-2 ">
		<div th:include="emp/leftmenu"/> 
	 </div>
     <!--左侧菜单结束-->
	 <div class="col-md-10 main-content" >
		<div class="row" style="padding:10px;">
			 <!--中部内容开始-->
	 	 <div class="col-md-12" style="padding-right: 0;">
		 	<form class="form-horizontal" id="form" action="/emp/save.do" method="post">
                 <input type="hidden" th:value="${enterprise.enterprisePicId}" id="enterprisePicId" name="enterprisePicId" />
                 <input type="hidden" th:value="${enterprise.enterpriseId}" id="enterpriseId" name="enterpriseId" />
                 
                <div class="form-group">
                  <label class="col-md-1 control-label">企业名称</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control"  th:value="${enterprise.enterpriseName}" id="enterpriseName" name="enterpriseName" readonly />
                  </div>
                </div>

                <div class="form-group">
                  <label  class="col-md-1 control-label">信用代码</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${enterprise.enterpriseCode}"  id="enterpriseCode" name="enterpriseCode"  readonly />
                  </div>
                  <label  class="col-md-1 control-label">行业类别</label>
                  <div class="col-md-4">
                    <select class="form-control" name="hyTypeCode" id="hyTypeCode">
                     
                    </select>
                  </div>
                </div>
                
                 <div class="form-group">
                  <label  class="col-md-1 control-label">企业性质</label>
                  <div class="col-md-4">
                    <select class="form-control" name="qyXjCode" id="qyXjCode">
                     	
                    </select>
                  </div>
                  <label  class="col-md-1 control-label">公司规模</label>
                  <div class="col-md-4">
                    <select class="form-control" name="qyGmCode" id="qyGmCode">
                     	
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label  class="col-md-1 control-label">法人姓名</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${enterprise.frName}"  id="frName" name="frName" placeholder="请输入法人姓名"/>
                  </div>
                  <label  class="col-md-1 control-label">身份证号</label>
                  <div class="col-md-4">
                     <input type="text" class="form-control" th:value="${enterprise.frCode}"  id="frCode" name="frCode" placeholder="请输入法人身份证号" />
                  </div>
                </div>

                <div class="form-group">
                  <label  class="col-md-1 control-label">联系人</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${enterprise.lxName}" id="lxName"  name="lxName" placeholder="请输入联系人姓名" />
                  </div>
                  <label  class="col-md-1 control-label">电话号码</label>
                  <div class="col-md-4">
                     <input type="text" class="form-control" th:value="${enterprise.telphone}" id="telphone" name="telphone" placeholder="请输入联系电话" />
                  </div>
                </div>
                
                 <div class="form-group">
                  <label class="col-md-1 control-label">公司电话</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control"  th:value="${enterprise.enttelphone}" placeholder="请输入公司电话" name="enttelphone" id="enttelphone"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">公司地址</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control"  th:value="${enterprise.addree}" placeholder="请输入公司联系地址" name="addree" id="addree"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">主营业务</label>
                  <div class="col-md-7">
                    <textarea class="form-control"  rows="5"  name="business" id="business" th:text="${enterprise.business}"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">企业logo</label>
                  <div class="col-md-7">
                  
                  <span id="pic">
                   	<div class="upload-pic" th:if="${enterprise.enterprisePicId!=null}">
	                   	<img th:src="@{'/file/downloadByBusi.do?bussinessId='+${enterprise.enterprisePicId}}" style="width:100%;height:100%;" >
	                   	</img>
                   	</div>
                   </span>
                  	
                   <span class="upload-pic fileinput-button">
                    <i class="glyphicon glyphicon-plus" style="margin-top:80px"></i>
                  
                    <input type="file" name="file" id="btn_upload_image" >
               	 </span>
                   <div style="color:red;margin-top:5px" id="fileError"></div>
                   
                    
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-2 col-md-offset-4"  >
            			<button id="submitbut" type="button" class="btn btn-primary">提交</button>
                  </div>
                </div>
                
              </form>
    	 </div>
			 
			
		 </div>
	 <!--右侧内容结束-->
     </div>
     
   </div>
 </div>
 
<!--footer开始-->
 <div th:include="footer"></div>
  	<!--footer结束-->
  	<link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/template-web.js"></script>
	
   <script src="/js/upload/js/vendor/jquery.ui.widget.js"></script>
   <script src="/js/upload/js/jquery.iframe-transport.js"></script>
　　<script src="/js/upload/js/jquery.fileupload.js"></script>
　　<script src="/js/upload/js/jquery.fileupload-process.js"></script>
　　<script src="/js/upload/js/jquery.fileupload-ui.js"></script>
  <script src="/js/upload/js/jquery.fileupload-validate.js"></script>
	
	<script id="tpl-hytype" type="text/html">
		{{each  retData}}
  			<option value={{$value.dictValue}}>{{$value.dictName}}</option>
		{{/each}}
	</script>
	
	<script id="tpl-img" type="text/html">
		<div class="upload-pic">
          <image src={{'/'+fileWebPath}} style="width:100%;height:100%;"/>
	    </div>
	</script>
	
	
  	<script type="text/javascript" th:inline="javascript">
	$(function(){
		
		$.get("/dict/getList.html?dictValue=qy_hy_type",function(data,status){
			var html = template('tpl-hytype',data);
				$('#hyTypeCode').html(html);
				$('#hyTypeCode').val([[${enterprise.hyTypeCode}]]);
		  });
		
		$.get("/dict/getList.html?dictValue=qy_xj",function(data,status){
			var html = template('tpl-hytype',data);
				$('#qyXjCode').html(html);
				$('#qyXjCode').val([[${enterprise.qyXjCode}]]);
		  });
		
		$.get("/dict/getList.html?dictValue=qy_gm",function(data,status){
			var html = template('tpl-hytype',data);
				$('#qyGmCode').html(html);
				$('#qyGmCode').val([[${enterprise.qyGmCode}]]);
		  });
		
		
		
		
		var accountId=[[${session.account.token}]]
		
		
		
		$("#btn_upload_image").fileupload({
			autoUpload: true,
			acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
			maxFileSize: 10 * 1024 * 1024,
			minFileSize: 1,
			maxNumberOfFiles: 50,
			messages: {
			    maxFileSize: '文件不能超过10M',
			    acceptFileTypes: '文件类型不对'
			},
			processfail: function (e, data) {
			    var currentFile = data.files[data.index];
			    if (data.files.error && currentFile.error) {
			        $("#fileError").html(currentFile.error);
			    }
			},
		    dataType: 'json',
		    url: '/file/uploadone.do',
		    formData: {dirName:'content/enterprise/logo',width:'200',height:'200',accountId:accountId,businessId:$("#enterprisePicId").val()},
		   
		    done: function (e, data) { //对接口返回信息的处理
		       console.log(data.result.retData)
		       var html = template('tpl-img',data.result.retData);
				$('#pic').html(html);
				$("#enterprisePicId").val(data.result.retData.bussinessId);
		    }
		});
		
		
		$('#info').addClass("active");
		
		  $("#submitbut").click(function(){
			   if($("#form").valid()){
				   $("#form").submit();
			   		 
			   }
		   });
		
		 $("#form").validate({
	          rules: {
	            
	        	frName: {
	              required: true
	            },
	            lxName:{
	           	  required: true	
	            },
	            telphone:{
	              required: true	
	            },
	            enttelphone:{
		              required: true	
		         },
	            addree:{
	              required: true	
	            },
	            business:{
	              required: true	
	            }
	            
	          },
	          messages: {
	            frName:{
	              required:'请输入法人姓名',
	             
	            },
	            lxName:{
	              required:'请输入联系人姓名',
	              
	            },
	            telphone:{
		              required:'请输入联系电话',
		              
		        },
		        enttelphone:{
		              required:'请输入公司电话',
		              
		        },
		       addree:{
		              required:'请输入公司联系地址',
		            },
		       business:{
			        required:'请输入经营范围',
			 	}
		      }
	     });
	})
</script>
  <!--footer结束-->
 
</body>
</html>
