<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	
	<link href="/css/houtai.css" rel="stylesheet" type="text/css">
</head>
 

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main  container-fluid">
  
   <div class="row houtai-box" style="margin-top:5px">
     <!--左侧菜单开始-->
     <div class="col-md-2 ">
		<div th:include="emp/leftmenu"/> 
	 </div>
     <!--左侧菜单结束-->
	 <div class="col-md-10 main-content" >
		<div class="row" style="padding:10px;">
			 <!--中部内容开始-->
	 	 <div class="col-md-12" style="padding-right: 0;">
		 	<form class="form-horizontal" id="form" action="/emp/save.do" method="post">

                <div class="form-group">
                  <label class="col-md-1 control-label">企业名称</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control"  th:value="${enterprise.enterpriseName}" id="enterpriseName" name="enterpriseName" readonly />
                  </div>
                </div>

                <div class="form-group">
                  <label  class="col-md-1 control-label">信用代码</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${enterprise.enterpriseCode}"  id="enterpriseCode" name="enterpriseCode"  readonly />
                  </div>
                  <label  class="col-md-1 control-label">行业类别</label>
                  <div class="col-md-4">
                    <select class="form-control" name="hyType" id="hyType">
                     
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label  class="col-md-1 control-label">法人姓名</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${enterprise.frName}"  id="frName" name="frName" placeholder="请输入法人姓名"/>
                  </div>
                  <label  class="col-md-1 control-label">身份证号</label>
                  <div class="col-md-4">
                     <input type="text" class="form-control" th:value="${enterprise.frCode}"  id="frCode" name="frCode" placeholder="请输入法人身份证号" />
                  </div>
                </div>

                <div class="form-group">
                  <label  class="col-md-1 control-label">联系人</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${enterprise.lxName}" id="lxName"  name="lxName" placeholder="请输入联系人姓名" />
                  </div>
                  <label  class="col-md-1 control-label">电话号码</label>
                  <div class="col-md-4">
                     <input type="text" class="form-control" th:value="${enterprise.telphone}" id="telphone" name="telphone" placeholder="请输入联系电话" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">公司地址</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control"  th:value="${enterprise.addree}" placeholder="请输入公司联系地址" name="addree" id="addree"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">经营范围</label>
                  <div class="col-md-7">
                    <textarea class="form-control"  rows="5"  name="business" id="business" th:value="${enterprise.business}"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">企业logo</label>
                  <div class="col-md-7">
                    <input type="file" name="enterprisePicId" class="form-control" id="btn_upload_image"/>
                  
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-2 col-md-offset-4"  >
            			<button id="submitbut" type="button" class="btn btn-primary">提交</button>
                  </div>
                </div>
                
              </form>
    	 </div>
			 
			
		 </div>
	 <!--右侧内容结束-->
     </div>
     
   </div>
 </div>
 
<!--footer开始-->
 <div th:include="footer"></div>
  	<!--footer结束-->
  	<link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/template-web.js"></script>
	
	<script src="/js/jQuery-File-Upload/jquery.ui.widget.js"></script>
    <script src="/js/jQuery-File-Upload/jquery.iframe-transport.js"></script>
　　<script src="/js/jQuery-File-Upload/jquery.fileupload.js"></script>
　　<script src="/js/jQuery-File-Upload/jquery.fileupload-process.js"></script>
　　<script src="/js/jQuery-File-Upload/jquery.fileupload-ui.js"></script>
	
	<script id="tpl-hytype" type="text/html">
		{{each  retData}}
  			<option value={{$value.dictValue}}>{{$value.dictName}}</option>
		{{/each}}
	</script>
	
	
  	<script type="text/javascript" th:inline="javascript">
	$(function(){
		
		$.get("/dict/getList.html?dictValue=qy_hy_type",function(data,status){
			var html = template('tpl-hytype',data);
				$('#hyType').html(html);
		  });
		
		$("#btn_upload_image").fileupload({
		    dataType: 'json',
		    url: url_upload_image,
		    formData: {param:1},
		    add: function (e, data) {//上传之前的处理
		        data.submit();
		    },
		    done: function (e, data) { //对接口返回信息的处理
		        var result = data.result;
		        if (typeof result.error === 'undefined') {
		           //成功
		        } else {
		            //失败
		        }
		    }
		});
		
		
		$('#info').addClass("active");
		
		  $("#submitbut").click(function(){
			   if($("#form").valid()){
				   $("#form").submit();
			   		 
			   }
		   });
		
		 $("#form").validate({
	          rules: {
	            
	        	frName: {
	              required: true
	            },
	            frCode:{
	              required: true
	            },
	            lxName:{
	           	  required: true	
	            },
	            telphone:{
	              required: true	
	            },
	            addree:{
	              required: true	
	            },
	            business:{
	              required: true	
	            }
	            
	          },
	          messages: {
	            frName:{
	              required:'请输入法人姓名',
	             
	            },
	            frCode:{
	              required:'请输入法人身份证号',
	              
	            },
	            lxName:{
	              required:'请输入联系人姓名',
	              
	            },
	            telphone:{
		              required:'请输入联系电话',
		              
		        },
		       addree:{
		              required:'请输入公司联系地址',
		            },
		       business:{
			        required:'请输入经营范围',
			 	}
		      }
	     });
	})
</script>
  <!--footer结束-->
 
</body>
</html>
