 <ul class="nav nav-pills nav-stacked text-center">
	<li id="info" ><a href="/emp/info.html">基本信息</a></li>
<!-- 	<li id="ability"><a href="/emp/abilityinfo.html">能力评价</a></li>  -->
	<li id="product"><a href="/emp/productinfo.html">产品管理</a></li> 
	<li id="buyinfo"><a href="/emp/buyinfo.html">采购信息</a></li>
	<li id="jobInfo"><a href="/emp/jobinfo.html">招聘管理</a></li>
	<li id="resumemy"><a href="/emp/resume/adminUn.html">我的简历</a></li>
	<li id="resumesearch"><a href="/emp/resume/search.html">简历查询</a></li>
	<li id="security"><a href="/emp/security.html">安全设置</a></li>
</ul>

<script type="text/javascript" th:inline="javascript">
	$(function(){
		$('#space').removeClass("manulinknone");
		$('#space').addClass("manulink");
	})
</script>