<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link href="/css/cyfw.css" rel="stylesheet" type="text/css">
	<link href="/css/houtai.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
   <div class="gb-main  container-fluid">
 
   <div class="row houtai-box" style="margin-top:5px">
     <!--左侧菜单开始-->
     <div class="col-md-2">
		<div th:include="emp/leftmenu"/>  
	 </div>
     <!--左侧菜单结束-->
   <div class="col-md-10 main-content">
     <div class="col-md-8 col-md-offset-1" style="margin-top:40px">
	     <div class="panel panel-default">
			  <div class="panel-heading"><h5>安全设置</h5></div>
			  <div class="panel-body">
			     <ul class="list-group" style="line-height:40px">
				  <li class="list-group-item">
				  	 <div style="font-size:18px">
				  	 	<i class="fa fa-key" style="margin-right:10px;font-size:25px"></i>登录密码
				  		<a href="/per/changepassword.html" class=" btn btn-primary pull-right" style="" >
                     		<i class="fa fa-pencil" style="margin-right:5px;"></i>修改
                    	</a>
				  	 </div>
				  	 
				  </li>
				  <li class="list-group-item">
				   <div style="font-size:18px"> 
				   	 <i class="fa fa-mobile" style="margin-right:10px;font-size:30px"></i>手机绑定
				   	<a href="/per/changetelphone.html" class=" btn btn-primary pull-right" style="" >
                     		<i class="fa fa-pencil" style="margin-right:5px;"></i>修改
                    	</a>
				   </div>
				  </li>
				</ul>	
			  </div> 
		  </div>
	 </div>
	 
 
   </div>
 </div>
 
 <!--footer开始-->
	<div th:include="footer"></div>
 <!--footer结束-->
 <script type="text/javascript">
	$(function(){
		$('#security').addClass("active"); 
		
	})
 </script>
 <!--footer结束-->
</body>
</html>
