 <div class="box" >
					  <div class=" resu-head">
						 	   <div class="face">
						 	      <img src="/images/zhanweiren.jpg"  class="img-thumbnail"  id="personPic" style="width:100px; height:100px;">
						 	   </div>
						 	   <div class="detail">
						 	    	<h4>张国勇</h4>
						 	    	<div>
						 	    	  <span>现居住地:</span><span>北京</span>|
						 	    	  <span>工作经验:</span><span>15年</span>|
						 	    	  <span>性别:</span><span>男</span>|
						 	    	  <span>年龄:</span><span>39</span>|
						 	    	  <span>我不想换工作</span>
						 	    	</div>
						 	    	<div class="email">
						 	           <i class="fa fa-star" aria-hidden="true"></i><span style="margin-left:10px">39459358@qq.com</span>
						 	           <i class="fa fa-phone" aria-hidden="true" style="margin-left:30px"></i><span style="margin-left:10px">13720053036</span>
						 	    	</div>
						 	    </div>
						 	   
						 	   <div  class="edit">
						 	    	<a href="#" onclick="infoedit()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a> 
						 	   </div>
						 	   
				 </div>
				 
				<div class=" resu-money width100 top20" >
					<span class="head-icon">
					 <i class="fa fa-money" aria-hidden="true"></i></span>
					<span class="head-text">  目前年收入 </span> 30万元
					
				</div>
					 	 
				<div class=" resu-job " >
					 	     	 <div class="width100 top20">
						 	     	 <div class="head-icon" style="float:left">
							 	     	 <i class="fa fa-address-book" aria-hidden="true"></i>
							 	     	 <span class="head-text">求职意向</span>
						 	     	 </div>
						 	     	
					 	   		</div>
					 	   		
					 	      	<div class="width100">
					 	    	    <div class="row top20">
					 	    	     	<div class="col-md-6">
					 	    	     	  <div class="col-md-3">期望薪资：</div>
					 	    	     	  <div >30-40万元/年</div>
					 	    	     	</div>
					 	    	     	<div class="col-md-6">
					 	    	     	  <div class="col-md-3">地点：</div>
					 	    	     	  <div >北京</div>
					 	    	     	</div>
					 	    	    </div>
					 	    	    
					 	    	     <div class="row top20" >
					 	    	     	<div class="col-md-6">
					 	    	     	  <div class="col-md-3">职位：</div>
					 	    	     	  <div >部门经理</div>
					 	    	     	</div>
					 	    	     	<div class="col-md-6">
					 	    	     	  <div class="col-md-3">行业：</div>
					 	    	     	  <div >计算机软件</div>
					 	    	     	</div>
					 	    	    </div>
					 	    	    
					 	    	     <div class="row top20">
					 	    	     	<div class="col-md-6">
					 	    	     	  <div class="col-md-3">工作类型：</div>
					 	    	     	  <div >全职</div>
					 	    	     	</div>
					 	    	     </div>
					 	    	</div>
					 	   		
					 	  </div>
					</div>