<div class="panel panel-default animated bounceInLeft">
  <div class="panel-heading ">新增工作经验</div>
  <div class="panel-body">
     	<div class="col-md-12" >
		 	<form class="form-horizontal" id="infosave" action="/per/infosave.do" method="post">
                <input type="hidden" th:value="${person.personPicId}" id="personPicId" name="personPicId" />
                <input type="hidden" th:value="${person.personId}" id="personId" name="personId" />
                
               <div class="form-group top20">
                  <label class="col-md-2 control-label">公司名称</label>
                  <div class="col-md-6">
                     <input type="text" class="form-control"   id="personName" name="personName"    />
                  </div>
                  
                </div>
                
                 <div class="form-group top20">
                  <label class="col-md-2 control-label">职位状态</label>
                  <div class="col-md-6">
                      <select class="form-control" name="jobState" id="jobState">
                     	<option value="在职">在职</option>
                     	<option value="离职">离职</option>
                     </select>
                  </div>
                  
                </div>
                
                 <div class="form-group top20" id="jobDate">
               
      			</div>
                
                <div class="form-group top20">
                  <label class="col-md-2 control-label">部门</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control "   name="department" id="department"  />
                  </div>
                  <label class="col-md-2 control-label">职位</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control"  name="jobname" id="jobname"   />
                     
                  </div>
                  
                </div>
                
                <div class="form-group top20">
                  <label class="col-md-2 control-label">工作描述</label>
                  <div class="col-md-10">
                   <textarea rows="5" class="form-control" name="workdesc" id="workdesc"></textarea>
                  </div>
                 
                </div>
                
                <div class="form-group">
                  <div class="col-md-2 col-md-offset-6"  >
            			<button id="submitbut" type="button" class="btn btn-warning">提交</button>
            			<button id="backbut" type="button" class="btn btn-default">返回</button>
                  </div>
                </div>
                
              </form>
    	 </div>
	
	</div>
</div>


<script id="tpl-hytype" type="text/html">
		{{each  retData}}
  			<option value={{$value.dictValue}}>{{$value.dictName}}</option>
		{{/each}}
</script>

<script id="tpl-jobEndDate" type="text/html">
	    <label class="col-md-2 control-label">时间</label>
        <div class="col-md-3">
                <input  type="text" class="form-control datepicker" name="jobStartDate" id="jobEndDate" placeholder="请输入开始日期"  >
         </div>
         <div class="col-md-3">
             <input  type="text" class="form-control datepicker" name="jobEndDate" id="jobEndDate" placeholder="请输入截止日期"  >
      	</div>
</script>

<script id="tpl-jobStartDate" type="text/html">
	    <label class="col-md-2 control-label">开始日期</label>
        <div class="col-md-3">
                <input  type="text" class="form-control datepicker" name="jobStartDate" id="jobEndDate" placeholder="请输开始日期"  >
         </div>
         
</script>

<script type="text/javascript" th:inline="javascript">
	$(function(){
	var jobStartDate = template('tpl-jobStartDate');
	$('#jobDate').html(jobStartDate);
	
	$('#personSex').val([[${person.personSex}]]);
	$('#workType').val([[${person.workType}]]);
	
	$('#jobState').change(function(){
		if($(this).val()=='在职'){
			var jobStartDate = template('tpl-jobStartDate');
			$('#jobDate').html(jobStartDate);
		}else{
			var jobEndDate = template('tpl-jobEndDate');
			$('#jobDate').html(jobEndDate);
		}
	})
	
	
	$.get("/dict/getList.html?dictValue=per_workstate",function(data,status){
		var html = template('tpl-hytype',data);
			$('#workStateCode').html(html);
			$('#workStateCode').val([[${person.workStateCode}]]);
	 });
	
	$.get("/dict/getList.html?dictValue=per_salary",function(data,status){
		var html = template('tpl-hytype',data);
			$('#perSalaryCode').html(html);
			$('#perSalaryCode').val([[${person.perSalaryCode}]]);
	 });
		
	$.get("/dict/getList.html?dictValue=qy_hy_type",function(data,status){
			var html = template('tpl-hytype',data);
				$('#hyTypeCode').html(html);
				$('#hyTypeCode').val([[${person.hyTypeCode}]]);
	 });
	
	
	
	$.get("/dict/getList.html?dictValue=xl_type",function(data,status){
		var onehtml = template('tpl-hytype',data);
		$('#jobStudyCode').html(onehtml);
		$('#jobStudyCode').val([[${person.jobStudyCode}]]);
		
	});
		
	 $('.datepicker').datepicker({
		 format: 'yyyy-mm',  
		 startView: 'years',
         maxViewMode:'years',
         minViewMode:'months',
         language: 'zh-CN',
         pickerPosition:'bottom-right',
         todayButton:true
	});
	 
	 $('.txt_city').jcity({
         urlOrData: '/js/citydata.json',
         showArea:false,
         animate: { showClass: 'animated flipInX', hideClass: 'animated flipOutX' },  // 需要第一步引用的animate.min.css文件，也可以自己定义动画 
         onChoice: function (data) {
             console.log(data);
         }
     });
	 
	
	 
					  
	  $("#submitbut").click(function(){
	      var form = $("#infosave");
		    $.ajax({
		        url:'/per/infosave.do',
		        type: form.attr("method"),
		        data: form.serialize(),
		        success: function (data)
		        {
		            $("#resu-info").html(data);
		        }
		    });

	});
	  
	  $("#backbut").click(function(){
		  $("#resu-info").load('/per/infoview.html');
	  })
	 
  })
 </script>
 	
 	
			
		