<ul class="nav nav-pills nav-stacked text-center">
	<li id="info" ><a href="/per/info.html">个人信息</a></li>
	<li id="resume"><a href="/per/resume.html">简历信息</a></li> 
	<li id="accidentinfo"><a href="/per/accidentinfo.html">管线事故上报</a></li>
	<li id="meet"><a href="/per/meet.html">会议报名</a></li>
	<li id="traininfo"><a href="/per/train.html">培训报名</a></li> 
	<li id="security"><a href="/per/security.html">安全设置</a></li>
</ul> 

	<script type="text/javascript" th:inline="javascript">
	$(function(){
		$('#space').removeClass("manulinknone");
		$('#space').addClass("manulink");
	})
</script>