<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link href="/css/houtai.css" rel="stylesheet" type="text/css">
</head>
  
 
<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main  container-fluid">
  
   <div class="row houtai-box" style="margin-top:5px">
     <!--左侧菜单开始-->
     <div class="col-md-2">
		<div th:include="per/leftmenu"/>  
	 </div>
     <!--左侧菜单结束-->
	<div class="col-md-10 main-content" >
       		 
       		  <div class="col-md-12" style="padding:10px;">
                <form class="form-inline" action="/per/meet.html" method="post">
                   
                </form>
              </div>
              
              <div class="col-md-12 top-20"> 
                <table class="table table-striped table-bordered ">
                  <tr>
                    <th width="5%">序号</th>
                    <th width="50%">会议名称</th>
                    <th width="10%">地点</th>
                    <th width="10%">开始时间</th>
                    <th width="10%">结束时间</th>
                    <th width="10%">操作</th>
                  </tr>
                  <tr th:each="meet,iterStat:${page.content}">
                    <td  th:text="${iterStat.count}">1</td>
                    <td  th:text="${meet.meetName}">项目经理</td>
                    <td  th:text="${meet.meetPlace}">1.3-1.6万/月</td>
                    <td  th:text="${#dates.format(meet.startDate, 'yyyy-MM-dd')}">1.3-1.6万/月</td>
                  	<td  th:text="${#dates.format(meet.endDate, 'yyyy-MM-dd')}">2</td>
                    
                    <td>
                     <a href="#" class="btn btn-default btn-sm"  th:onclick="'javascript:view(\''+${meet.meetId}+'\')'" >查看</a>
	                      <a th:if="${meet.signState==0}" th:href="@{'/per/meet/signup.html?meetId='+${meet.meetId}}"  target="_blank" class="btn btn-success btn-sm"> 报名</a>
	                      <a th:if="${meet.signState==1}" th:href="@{'/per/meet/signup.html?meetId='+${meet.meetId}}"  target="_blank" class="btn btn-success btn-sm"> 已报名</a>
	               		  <a th:if="${meet.signState==2}" th:href="@{'/per/meet/signup.html?meetId='+${meet.meetId}}"  target="_blank" class="btn btn-success btn-sm"> 报名结束</a>
                    </td>
                  </tr>
				</table>
              </div>

               <div class="row">
                  <div class="col-md-6 col-md-offset-6" >
                    <div th:include="pagination"/> 
                   </div>
                </div>
            </div>
              
          </div>  
        </div>
  </div>          
  
            
  
   <!--footer开始-->
 <div th:include="footer"></div>
  	<!--footer结束-->
  	<script type="text/javascript" th:inline="javascript">
  	
  	function view(id){
  		window.open('/per/meet/detail.html?meetId='+id);
	};
	
	
	$(function(){
		$('#meet').addClass("active"); 
		
		
		
		$('.page-link').click(function(){
			  if(!$(this).parent().hasClass("disabled")){
				  $('#pageNum').val($(this).attr("pageIndex"));
				  $('#form').submit();
			  }
		});
	})
</script>
  <!--footer结束-->
  </body>
</html>