<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	
	<link href="/css/houtai.css" rel="stylesheet" type="text/css">
	<link href="/css/upload.css" rel="stylesheet" type="text/css">
	<link href="/js/upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css"></link>

	<link href="/css/remuse.css" rel="stylesheet" type="text/css">
</head>
 

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main  container-fluid">
  
   <div class="row houtai-box" style="margin-top:5px">
     <!--左侧菜单开始-->
     <div class="col-md-2 ">
		<div th:include="per/leftmenu"/> 
	 </div>
     <!--左侧菜单结束-->
	 <div class="col-md-10 main-content" >
		<div class="row">
			 <!--中部内容开始-->
			 <div class="col-md-9 col-md-offset-1" style="min-height:500px;margin-top:15px"  >
			  	<div id="resu-info">
					
			     </div>
			 	  
			 	  <div class="width100" id="jobdetail-info">
				 	    <div class="head-icon">
					 	     <i class="fa fa-tasks" aria-hidden="true"></i>
					 	     <span class="head-text">工作经验</span>
					 	     <div class="right-op">
				 	    		<a href="#" onclick="jobdetailAdd()" >
				 	    		 <i class="fa fa-plus" aria-hidden="true" style="margin-left:10px"></i> 新增工作
				 	    		</a>
				 	     	</div>
				 	    </div>
				 	</div>
				 	
			 	   <div class="box " id="jobdetail">
			 	   		
			 	   	</div>
			 	   	
			 	   <div class="width100" id="study-info">
				 	    <div class="head-icon" style="float:left">
					 	     <i class="fa fa-graduation-cap" aria-hidden="true"></i>
					 	     <span class="head-text">教育经历</span>
				 	    </div>
				 	     <div   style="font-size:15px;margin:5px;float:right">
				 	    	<a href="#" onclick="studydetailAdd()" > <i class="fa fa-plus" aria-hidden="true" style="margin-left:10px"></i> 新增教育</a>
				 	     </div>
			 	   </div>
			 	   
		           <div class="box " id="studydetail" >
		           	
			 	   	</div>
			 	   	 
			 	   <div class="width100" id="cert-info">
				 	    <div class="head-icon" style="float:left">
					 	     <i class="fa fa-book" aria-hidden="true"></i>
					 	     <span class="head-text">技能特长</span>
				 	    </div>
			 	   </div>
			 	   
			 	   <div class="box-head">
			 	     <span>证书</span>
			 	     <a href="#" onclick="certdetailAdd()" style="float:right;"> <i class="fa fa-plus" aria-hidden="true" style="margin-left:10px"></i> 新增证书</a>
			 	   </div>
			 	   
			 	    <div class="box "  id="certdetail">
			 	   	
			 	    	 
			 	   	</div>
			 	   
			 	   
			 	    <div class="box-head" id="train-info">
			 	     <span>培训</span>
			 	     <a href="#" onclick="traindetailAdd()" style="float:right;"> <i class="fa fa-plus" aria-hidden="true" style="margin-left:10px"></i> 新增培训</a>
			 	   </div>
			 	   
			 	      <div class="box "  id="traindetail">
			 	   		
			 	    	 
			 	   	</div>
			 	   
			 	  
			  </div>
			 	 
			 	 
			</div>
			 
		</div>
	 	<!--右侧内容结束-->
     </div>
     
   </div>
 </div>
 
 
  
 
<!--footer开始-->
 <div th:include="footer"></div>
  	<!--footer结束-->
  	<link th:href="@{/css/validate.css}" rel="stylesheet" type="text/css">
  	<link th:href="@{/css/jquery.city.bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css">
  	
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/template-web.js"></script>
	
   <script src="/js/upload/js/vendor/jquery.ui.widget.js"></script>
   <script src="/js/upload/js/jquery.iframe-transport.js"></script>
　　<script src="/js/upload/js/jquery.fileupload.js"></script>
　　<script src="/js/upload/js/jquery.fileupload-process.js"></script>
　　<script src="/js/upload/js/jquery.fileupload-ui.js"></script>
  <script src="/js/upload/js/jquery.fileupload-validate.js"></script>
  <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="/js/locale/bootstrap-datepicker.zh-CN.min.js"></script>
  <script src="/js/jquery.city.js"></script>

	
  	<script type="text/javascript" th:inline="javascript">
  	
  	 
  	
  	function infoedit(){
  		$("#resu-info").load('/per/infoedit.html');
  	}
  	
  	function jobdetailAdd(){
  		$("#jobdetail").load('/per/jobdetail/add.html',function() {
  			var t =$("#jobdetail-info").offset().top-100;
  			
  	  	    $(window).scrollTop(t);
  		});
  		
  	}
  	
  	function jobInfoDel(perJobInfoId){
  		
  		$.showConfirm("确认删除吗？", function(){
  			 $("#jobdetail").load('/per/jobdetail/del.do?perJobInfoId='+perJobInfoId,function() {
 	  			var t =$("#jobdetail-info").offset().top-100;
 	  			    $(window).scrollTop(t);
 	  	  });
  		});
  		
  	}
  	
  	
  	function jobInfoEdit(perJobInfoId){
  		$("#jobdetail").load('/per/jobdetail/edit.html?perJobInfoId='+perJobInfoId,function() {
  			var t =$("#jobdetail-info").offset().top-100;
  			
  	  	    $(window).scrollTop(t);
  		});
  		
  	}
  	
  	
  	
  	function studydetailAdd(){
  		
  		$("#studydetail").load('/per/studyinfo/add.html',function() {
  			var t =$("#study-info").offset().top-100;
  			console.log(t);
  			 $(window).scrollTop(t);
  		});
   }
  	
  	
	function studyInfoDel(perStudyInfoId){
  		
  		$.showConfirm("确认删除吗？", function(){
  			 $("#studydetail").load('/per/studyinfo/del.do?perStudyInfoId='+perStudyInfoId,function() {
 	  			var t =$("#study-info").offset().top-100;
 	  			    $(window).scrollTop(t);
 	  	  });
  		});
  		
  	}
  	
  	
  	function studyInfoEdit(perStudyInfoId){
  		$("#studydetail").load('/per/studyinfo/edit.html?perStudyInfoId='+perStudyInfoId,function() {
  			var t =$("#study-info").offset().top-100;
  			
  	  	    $(window).scrollTop(t);
  		});
  		
  	}
  	
  	
	function certdetailAdd(){
	
  		$("#certdetail").load('/per/certinfo/add.html',function() {
  			var t =$("#cert-info").offset().top-100;
  			
  	  	    $(window).scrollTop(t);
  		});
  		
  	}
	
	
	function certInfoDel(perCertInfoId){
  		
  		$.showConfirm("确认删除吗？", function(){
  			 $("#certdetail").load('/per/certinfo/del.do?perCertInfoId='+perCertInfoId,function() {
 	  			var t =$("#cert-info").offset().top-100;
 	  			    $(window).scrollTop(t);
 	  	  });
  		});
  		
  	}
  	
  	
  	function certInfoEdit(perCertInfoId){
  		$("#certdetail").load('/per/certinfo/edit.html?perCertInfoId='+perCertInfoId,function() {
  			var t =$("#cert-info").offset().top-100;
  			
  	  	    $(window).scrollTop(t);
  		});
  		
  	}
	
	
	function traindetailAdd(){
	
  		$("#traindetail").load('/per/traininfo/add.html',function() {
  			var t =$("#train-info").offset().top-100;
  			
  	  	    $(window).scrollTop(t);
  		});
  		
  	}
	
	function trainInfoDel(perTrainInfoId){
  		
  		$.showConfirm("确认删除吗？", function(){
  			 $("#traindetail").load('/per/traininfo/del.do?perTrainInfoId='+perTrainInfoId,function() {
 	  			var t =$("#cert-info").offset().top-100;
 	  			    $(window).scrollTop(t);
 	  	  });
  		});
  		
  	}
  	
  	
  	function trainInfoEdit(perTrainInfoId){
  		$("#traindetail").load('/per/traininfo/edit.html?perTrainInfoId='+perTrainInfoId,function() {
  			var t =$("#cert-info").offset().top-100;
  			
  	  	    $(window).scrollTop(t);
  		});
  		
  	}
  	
  	
  	
	$(function(){
		
		$("#resu-info").load('/per/infoview.html');
		$("#jobdetail").load('/per/jobdetail/list.html');
		$("#studydetail").load('/per/studyinfo/list.html');
		$("#certdetail").load('/per/certinfo/list.html');
		$("#traindetail").load('/per/traininfo/list.html');
		
		$('#resume').addClass("active");
		
	
		
		
	})
</script>
  <!--footer结束-->
 
</body>
</html>
