<div th:each="trainInfo:${list}" class="well" >
	 <div class="row" >
	 	<div class="col-md-3" th:if="${trainInfo.endDate!=''}"><span th:text="${trainInfo.startDate}">2013/11</span>-<span th:text="${trainInfo.endDate}">至今</span></div>
		<div class="col-md-3" th:if="${trainInfo.endDate==''}"><span th:text="${trainInfo.startDate}">2013/11</span>-<span>至今</span></div>
		<div class="col-md-3" ><strong th:text="${trainInfo.trainClassName}">培训课程</strong></div>
		<div class="col-md-3" ><span th:text="${trainInfo.trainOrgName}">培训机构</span> (地点：<span th:text="${trainInfo.trainPlace}">培训地点</span>)</div>
		<div class="col-md-2 edit" >
			<a herf="#" th:onclick="'javascript:trainInfoEdit(\''+${trainInfo.perTrainInfoId}+'\')'" style="margin-right:10px;cursor: pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
			<a herf="#" th:onclick="'javascript:trainInfoDel(\''+${trainInfo.perTrainInfoId}+'\')'" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>
		</div>
	 </div>
	<p class="top10">
		<span>培训描述：</span> <span th:text="${trainInfo.trainDesc}">哈哈</span>
	</p> 
</div>