<div class="panel panel-default animated bounceInLeft">
  <div class="panel-heading ">新增培训经历</div>
  <div class="panel-body">
     	<div class="col-md-12" > 
		 	<form class="form-horizontal" id="infosave" action="/per/traininfo/update.do" method="post">
               
                <input type="hidden" th:value="${perTrainInfo.personId}" id="personId" name="personId" />
                <input type="hidden" th:value="${perTrainInfo.perTrainInfoId}" id="perTrainInfoId" name="perTrainInfoId" />
                
               <div class="form-group top20">
                  <label class="col-md-2 control-label">培训课程</label>
                  <div class="col-md-6">
                     <input type="text" class="form-control"   id="trainClassName" name="trainClassName"  th:value="${perTrainInfo.trainClassName}"   />
                  </div>
                  
                </div>
                
              
                
                 <div class="form-group top20" id="studyDate">
                  	<label class="col-md-2 control-label">时间</label>
			        <div class="col-md-3">
			                <input  type="text" class="form-control datepicker" name="startDate" id="startDate" placeholder="请输入开始日期"  th:value="${perTrainInfo.startDate}"  >
			         </div>
			         <div class="col-md-3">
			             <input  type="text" class="form-control datepicker" name="endDate" id="endDate" placeholder="请输入截止日期"  th:value="${perTrainInfo.endDate}" >
			      	</div>
      			</div>
                
                <div class="form-group top20">
                  <label class="col-md-2 control-label">培训机构</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control "   name="trainOrgName" id="trainOrgName"   th:value="${perTrainInfo.trainOrgName}" />
                  </div>
                  <label class="col-md-2 control-label">培训地点</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control"  name="trainPlace" id="trainPlace"  th:value="${perTrainInfo.trainPlace}"  />
                     
                  </div>
                  
                </div>
                
                <div class="form-group top20">
                  <label class="col-md-2 control-label">培训描述</label>
                  <div class="col-md-10">
                   <textarea rows="5" class="form-control" name="trainDesc" id="trainDesc" th:text="${perTrainInfo.trainDesc}" ></textarea>
                  </div>
                 
                </div>
                
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-6"  >
            			<button id="submitbut" type="button" class="btn btn-warning">提交</button>
            			<button id="backbut" type="button" class="btn btn-default">返回</button>
                  </div>
                </div>
                
              </form>
    	 </div>
	
	</div>
</div>


<script id="tpl-hytype" type="text/html">
		{{each  retData}}
  			<option value={{$value.dictValue}}>{{$value.dictName}}</option>
		{{/each}}
</script>



<script type="text/javascript" th:inline="javascript">
	$(function(){
	
	
	
	$('.datepicker').attr('autocomplete','off').datepicker({
		 format: 'yyyy-mm',  
		 startView: 'years',
         maxViewMode:'years',
         minViewMode:'months',
         language: 'zh-CN',
         pickerPosition:'bottom-right',
         autoclose:true
	});
	 

	
	 
					  
	  $("#submitbut").click(function(){
	      var form = $("#infosave");
		    $.ajax({
		        url:'/per/traininfo/update.do',
		        type: form.attr("method"),
		        data: form.serialize(),
		        success: function (data)
		        {
		            $("#traindetail").html(data);
		        }
		    });

	});
	  
	  $("#backbut").click(function(){
		  $("#traindetail").load('/per/traininfo/list.html');
	  })
	 
  })
 </script>
 	
 	
			
		