<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link href="/css/cyfw.css" rel="stylesheet" type="text/css">
	<link href="/css/houtai.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
   <div class="gb-main  container-fluid">
 
   <div class="row houtai-box" style="margin-top:5px">
     <!--左侧菜单开始-->
     <div class="col-md-2">
		<div th:include="per/leftmenu"/>  
	 </div>
     <!--左侧菜单结束-->
   <div class="col-md-10 main-content">
     <div class="row">
	     <div class="col-md-12 text-center">
			<div><img src="/images/chegngong.png"></div>
			<h3>报名成功!</h3>
		   
	    </div>
	 </div> 
	 <div class="row">
	    <div class="col-md-12 text-center" style="margin-top:20px">
			<a href="/per/train.html" class="btn btn-success  btn-lg" >返回</a>
		 </div>
	 </div>
 
   </div>
 </div>
 
 <!--footer开始-->
	<div th:include="footer"></div>
 <!--footer结束-->
 <script type="text/javascript">
	$(function(){
		$('#traininfo').addClass("active"); 
		
	})
 </script>
 <!--footer结束-->
</body>
</html>
