  <!--footer开始-->
  <footer>
    <div class="container">
      <div class="row lianxi">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-right"><img src="/images/logohui.jpg"></div>
        <div class="col-md-6 gray2">
          <p>Copyright©2018北京一呼通网络科技有限公司,All Rights Reserved</p>
          <p>京ICP备18028151号</p>
          <p>地址：北京市丰台区西三环南路201号融达国际5层513室</p>
          <p>电话：010-63711181</p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row text-center">
        <div class="col-md-12 gray">Copyright©2018北京一呼通网络科技有限公司,All Rights Reserved 京ICP备18028151号</div>
      </div>
    </div>
  </footer>
  <!--footer结束-->         
   