<meta charset="utf-8"> 
<meta name="baidu-site-verification" content="1U4FhwaXUD" />
<meta http-equiv="keywords" content="118地下管线信息共享平台,地下管线，管线事故，地下管线行业培训，地下管线招标信息，118地下管线挖据，地下管线专家,01063978071"/>
<meta http-equiv="description" content="北京一呼通网络科技有限公司是国内领先的地下管线信息服务商,专注于地下管线行业信息化和行业服务,联系方式：01063978071"/>
<title>118地下管线信息共享平台-北京一呼通网络科技有限公司</title>
<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vendor/modernizr-2.6.2.min.js"></script>
<!-- Respond.js for IE 8 or less only -->
<!--[if (lt IE 9) & (!IEMobile)]>
            <script src="/js/vendor/respond.min.js"></script>
        <![endif]-->

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/components.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

<script type="text/javascript" th:inline="javascript">
  	
  	$.showConfirm = function(str, funcok, funcclose) {
  	    BootstrapDialog.confirm({
  	        title : '确认',
  	        message : str,
  	        type : BootstrapDialog.TYPE_WARNING, // <-- Default value is
  	        // BootstrapDialog.TYPE_PRIMARY
  	        closable : true, // <-- Default value is false，点击对话框以外的页面内容可关闭
  	        draggable : true, // <-- Default value is false，可拖拽
  	        btnCancelLabel : '取消', // <-- Default value is 'Cancel',
  	        btnOKLabel : '确定', // <-- Default value is 'OK',
  	        btnOKClass : 'btn-warning', // <-- If you didn't specify it, dialog type
  	        size : BootstrapDialog.SIZE_SMALL,
  	        // 对话框关闭的时候执行方法
  	        onhide : funcclose,
  	        callback : function(result) {
  	            // 点击确定按钮时，result为true
  	            if (result) {
  	                // 执行方法
  	                funcok.call();
  	            }
  	        }
  	    });
  	};
  	
  	$.showErr = function(str, func) {
  	    // 调用show方法
  	    BootstrapDialog.show({
  	        type : BootstrapDialog.TYPE_DANGER,
  	        title : '错误 ',
  	        message : str,
  	        size : BootstrapDialog.SIZE_SMALL,//size为小，默认的对话框比较宽
  	        buttons : [ {// 设置关闭按钮
  	            label : '关闭',
  	            action : function(dialogItself) {
  	                dialogItself.close();
  	            }
  	        } ],
  	        // 对话框关闭时带入callback方法
  	        onhide : func
  	    });
  	};
  	
  	$.showSuccessTimeout = function(str, func) {
  	    BootstrapDialog.show({
  	        type : BootstrapDialog.TYPE_SUCCESS,
  	        title : '成功 ',
  	        message : str,
  	        size : BootstrapDialog.SIZE_SMALL,
  	        buttons : [ {
  	            label : '确定',
  	            action : function(dialogItself) {
  	                dialogItself.close();
  	            }
  	        } ],
  	        // 指定时间内可自动关闭
  	        onshown : function(dialogRef) {
  	            setTimeout(function() {
  	                dialogRef.close();
  	            }, YUNM._set.timeout);
  	        },
  	        onhide : func
  	    });
  	};
 </script>




 