<!doctype html>
<html>
<head>
<meta charset="utf-8"> 
<title>登录</title>
<script type="text/javascript" src="bootstrap/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/vendor/modernizr-2.6.2.min.js"></script>
<!-- Respond.js for IE 8 or less only -->
<!--[if (lt IE 9) & (!IEMobile)]>
            <script src="bootstrap/js/vendor/respond.min.js"></script>
        <![endif]-->

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="bootstrap/css/components.min.css" rel="stylesheet" type="text/css">
<link href="css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="row login-bg">
	<div class="col-md-1"></div>

	<div class="col-md-5">
		<img src="images/logo100.png">
	</div>
	<div class="col-md-4">	
	  <div class="login-box" style="padding:0.5em 2.5em 5.5em;">
	    <h3>用户登录</h3>
		 <div class="login-list">
		   <input class="form-control" placeholder="手机号" type="text" style="height: 50px; font-size: 16px;">
		</div>
		 <div class="login-list">
		   <input class="form-control" placeholder="密码" type="password" style="height: 50px; font-size: 16px;">
		</div>
		  <ul class="list-inline list-unstyled">
			  <li class="pull-left"><a href="#" class="blue-link">注册</a></li>
			  <li class="pull-right"><a href="#" class="blue-link">忘记密码?</a></li>
		  </ul>
		  <div class="login-list">
			  <a href="#" class="btn btn-primary" style="width:100%; font-size: 16px; height:50px; line-height:37px;">登录</a>
		  </div>
	  </div>
	</div>
	<div class="col-md-2"></div>

</div>
 
</body>
</html>

