<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
	<head th:include="head">
</head>
<head>
	<link href="/css/gxsg.css" rel="stylesheet" type="text/css">
</head>


<body>
<!--[if lte IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/ 

">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true 

">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <!--菜单开始-->
	<header th:include="header"/>
  <!--菜单结束-->
 <div class="gb-main container">
   <!--面包屑开始-->
   <div class="row">
     <ul class="breadcrumb col-md-12">
       <li><a href="#">首页</a></li>
       <li class="active">行业资讯</li>
     </ul>
   </div>
   <!--面包屑结束-->
   <div class="row">
     <!--左侧内容开始-->
     <div class="col-md-8">
       <div class="portlet light bordered zx-box">
            <div class="portlet-title tabbable-line">
              <ul class="nav nav-tabs" >
                <li th:each="columnInfo : ${columnInfoList}"  th:class="${columnInfo.columnCode==columnCode}? 'active' : ''">
                    <a th:href="@{'/news/index.html?columnCode='+${columnInfo.columnCode}}"  th:text="${columnInfo.columnName}" th:id="${columnInfo.columnCode}"> </a>
                </li>
                
            </ul>
            
            </div>
            <div class="portlet-body">
              <div class="tab-content">
              
              <div class="tab-pane active"  th:if=" ${columnCode}=='6_hy_xw_sp'">
                  <div class="mt-comments mt-comments10">
                  	<div th:each="content,iterStat:${page.content}" >
	                     <div class="media" >
	                       <a th:href="@{'/news/videodetail.html?contentId='+${content.contentId}}" target="_blank" class="pull-left"><img th:src="@{'/file/downloadByBusi.do?bussinessId='+${content.titleFileId}}" class="media-object" style="width:174px; height:127px"></a>
	                       <div class="media-body gb-sgnews">
	                         <h4 class="media-heading"><a th:href="@{'/news/videodetail.html?contentId='+${content.contentId}}" target="_blank"  th:text="${content.contentTitle}"></a></h4>
	                         <p class="sg-text"><a href="#" th:text="${content.contentJsonMap['desc']}"> </a></p>
	                         <ul class="list-unstyled">
	                           <li class="pull-left"  th:each="tagname:${#strings.listSplit(content.contentJsonMap['tag'],',')}"><a href="#" class="blue-link" th:text="${tagname}"></a></li>
	                     
	                           <li class="pull-right gray" th:text="${#strings.substring(content.contentJsonMap['pdate'],0,10)}">2013-11-22</li>
	                         </ul>
	                       </div>
	                   </div>
	                   <div class="gb-line gxsg-line" th:if="not ${iterStat.last}"></div>
                   </div>
                   
                   <!--分页开始-->  
                    <div class="row">
                     <div class="col-md-12 text-center">
					   <div th:include="pagination"/> 
                     </div>
                   </div> 
                   <!--分页结束-->
                  </div>
                
              </div>
              
              <div class="tab-pane active"  th:if="${columnCode}=='1_hy_xw_yw'">
                  <div class="mt-comments mt-comments10">
                  	<div th:each="content,iterStat:${page.content}" >
	                     <div class="media" >
	                       <a th:href="@{'/news/detail.html?contentId='+${content.contentId}}" target="_blank" class="pull-left"><img th:src="@{'/file/downloadByBusi.do?bussinessId='+${content.titleFileId}}" class="media-object" style="width:174px; height:127px"></a>
	                       <div class="media-body gb-sgnews">
	                         <h4 class="media-heading"><a th:href="@{'/news/detail.html?contentId='+${content.contentId}}" target="_blank"  th:text="${content.contentTitle}"></a></h4>
	                         <p class="sg-text"><a href="#" th:text="${content.contentJsonMap['desc']}"> </a></p>
	                         <ul class="list-unstyled">
	                           <li class="pull-left"  th:each="tagname:${#strings.listSplit(content.contentJsonMap['tag'],',')}"><a href="#" class="blue-link" th:text="${tagname}"></a></li>
	                     
	                           <li class="pull-right gray" th:text="${#strings.substring(content.contentJsonMap['pdate'],0,10)}">2013-11-22</li>
	                         </ul>
	                       </div>
	                   </div>
	                   <div class="gb-line gxsg-line" th:if="not ${iterStat.last}"></div>
                   </div>
                   
                   <!--分页开始-->  
                    <div class="row">
                     <div class="col-md-12 text-center">
					   <div th:include="pagination"/> 
                     </div>
                   </div> 
                   <!--分页结束-->
                  </div>
                
              </div>
              
              
              <div class="tab-pane active"  th:if="${columnCode}!='1_hy_xw_yw' and ${columnCode}!='6_hy_xw_sp'">
                  <div class="mt-comments">
                    	<div th:each="content,iterStat:${page.content}" >
	                    <ul class="gbzx-news">
	                    <li class="xwlist pull-left"><a th:href="@{'/news/detail.html?contentId='+${content.contentId}}" target="_blank"  th:text="${content.contentTitle}"></a></li>
	                    <li class="list-unstyled pull-right gray"><time datetime="2018-1-22" th:text="${#strings.substring(content.contentJsonMap['pdate'],0,10)}">2018-1-22</time></li>
	                    </ul>
	                    <div class="gb-line gxsg-line" th:if="not ${iterStat.last}"></div>
                    </div>
                  </div>
                   <!--分页开始-->  
                    <div class="row">
                     <div class="col-md-12 text-center">
					   <div th:include="pagination"/> 
                     </div>
                   </div> 
                   <!--分页结束-->
                  
              </div>
             
          </div>
            </div>
          </div>
     </div>
     <!--左侧内容结束-->
     <div class="col-md-1"></div>
      <!--右侧边栏开始-->
       <div class="col-md-3" id="rightContent">
       		
       </div>
     <!--右侧边栏结束-->
   </div>
 </div>
 
  <!--footer开始-->
	 <div th:include="footer"></div>
  	<!--footer结束-->
  	<script type="text/javascript" th:inline="javascript">
	$(function(){
		$('#news').removeClass("manulinknone");
		$('#news').addClass("manulink");
		
		$('#rightContent').load('/right.html');
		
		$('.page-link').click(function(){
			  if(!$(this).parent().hasClass("disabled")){
				  var pageNum=$(this).attr("pageIndex");
				  $(window).attr('location', '/news/index.html?pageNum='+pageNum+"&columnCode="+[[${columnCode}]]);
			  }
		});
	})
</script>
  <!--footer结束-->
 
</body>
</html>
